<template>
  <v-app dark>
    <template v-slot:append v-if="authenticated">
      <v-list-item @click="logOut" class="b-drawer">
        <v-list-item-icon>
          <v-icon>mdi-logout</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Déconnexion</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item class="b-item-avatar">
        <v-list-item-avatar>
          <img
            src="https://cdn.vuetifyjs.com/images/john.jpg"
            alt="John"
          >
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>Jane Smith</v-list-item-title>
          <!--<v-list-item-subtitle>Logged In</v-list-item-subtitle>-->
        </v-list-item-content>
      </v-list-item>
    </template>

    <template v-slot:append v-else>
      <v-list-item to="/auth/login">
        <v-list-item-icon>
          <v-icon>mdi-login</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Connexion</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>
  </v-app>
</template>
<script>
  import VComponent from "../../components/base/VComponent";

  export default {
    components: {VComponent},
    name: 'AccountMenu',
    data: () => ({
      drawer: null
    }),
    mounted() {
      //
    },
    methods: {
      logOut() {
        this.$auth.logout();
      }
    }
  }
</script>

<style>

</style>
