<template>
    <v-container
        id="menu"
        fluid
    >
      <v-navigation-drawer
        v-model="drawer"
        app
        :mini-variant="mini"
        mini-variant-width="42"
        permanent
        width="285"
      >
        <!--<template>
          <div class="d-flex flex-column" :class="!mini ? 'align-end' : 'align-center'">
            <v-app-bar-nav-icon class="mt-auto pa-2" @click.stop="mini = !mini"></v-app-bar-nav-icon>
          </div>
        </template>-->

        <template class="d-flex align-end flex-column">
          <div class="mb-5 mt-8" :class="mini && 'd-none'">
            <v-img :src="require(`~/assets/img/logo.svg`)" aspect-ratio="2" contain></v-img>
            <!--<span class="text-center d-block mt-2"><b>Devcorp</b></span>-->
          </div>
        </template>

        <template v-for="(item, i) in computedItems">
          <v-list-item-group
            v-if="item.children"
            :key="`group-${i}`"
            :item="item"
          >
            <v-list-item
              v-for="(child, j) in item.children"
              :key="j"
              :to="child.to"
            >
              <v-list-item-icon>
                <v-icon v-text="child.icon" size="36"></v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="child.title"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>

          <v-list-item
            v-else
            :key="`${i}`"
            :to="item.to"
          >
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>

        <template v-slot:append v-if="authenticated">
          <v-list-item @click="logOut" class="b-drawer">
            <v-list-item-icon>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Déconnexion</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item class="b-item-avatar">
            <v-list-item-avatar v-if="user.avatar">
              <img
                :src="getAvatar(user.avatar)"
                :alt="user.nom + ' ' + user.prenom"
              >
            </v-list-item-avatar>
            <v-list-item-avatar color="primary" v-else>
              <v-icon large dark>
                mdi-account-circle
              </v-icon>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>{{ user.prenom }} {{ user.nom }}</v-list-item-title>
              <!--<v-list-item-subtitle>Logged In</v-list-item-subtitle>-->
            </v-list-item-content>
          </v-list-item>
        </template>

        <template v-slot:append v-else>
          <v-list-item to="/auth/login">
            <v-list-item-icon>
              <v-icon>mdi-login</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Connexion</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>

      </v-navigation-drawer>

      <!--<v-app-bar
        :clipped-left="clipped"
        app
        color="transparent"
        flat
        absolute
      >
        <v-toolbar-title><h1>{{ $route.name }}</h1></v-toolbar-title>
      </v-app-bar>-->

    </v-container>
</template>

<script>
    export default {
      name: "DashboardCoreDrawer",
      data: () => {
          return ({
              clipped: false,
              drawer: true,
              mini: false,
              fixed: false,
              profileItems: [
                  {title: 'Home', icon: 'mdi-home-city', name: 'Dashboard', to: '/dashboard'},
                  {title: 'My Profile', icon: 'mdi-account', name: 'Profile', to: '/profile'}
              ],
              connexionItems: [
                  {title: 'Home', icon: 'mdi-home-city', name: 'Dashboard', to: '/dashboard'},
                  {title: 'Register', icon: 'mdi-account', name: 'Register', to: '/auth/register'},
                  {title: 'Login', icon: 'mdi-login', name: 'Login', to: '/auth/login'},
              ],
              routes: [
                  {
                      icon: 'mdi-folder-open',
                      title: 'Gestion des dossiers',
                      name: 'Dossiers',
                      to: '/prestataire/dossiers',
                  },
                  {
                      icon: 'mdi-account-tie',
                      title: 'Gestion des agents',
                      name: 'Agents',
                      to: '/prestataire/agents',
                  },
                  {
                      icon: 'mdi-account-tie',
                      title: 'Gestion des utilisateurs',
                      name: 'Utilisateurs',
                      to: '/prestataire/utilisateursBo',
                  },
                  {
                      icon: 'mdi-crosshairs-gps',
                      title: 'Tracking',
                      name: 'Tracking',
                      to: '/prestataire/tracking',
                  },


                  /*,
                        {
                            icon: 'mdi-account',
                            title: 'user',
                            to: '/profile',
                        },
                        {
                            icon: 'mdi-account',
                            title: 'My account',
                            to: '/profile',
                            children: [
                                {
                                    icon: 'mdi-account',
                                    title: 'Profile',
                                    to: '/profile',
                                },
                                {
                                    icon: 'mdi-logout',
                                    title: 'Logout',
                                    to: 'logout'
                                }
                            ]
                        },*/
                  // UNLOGGED
                  /*unlogged: [
                      { name: 'Register', path: 'register' },
                      { name: 'Login', path: 'login'}
                  ],
                  // LOGGED USER
                  user: [
                      { name: 'Profile User', path: 'profile' }
                  ],
                  // LOGGED ADMIN
                  admin: [
                      { name: 'Dashboard', path: 'dashboard' }
                  ]*/
              ],
              miniVariant: false,
              right: true,
              rightDrawer: false,
              title: 'Application'
          });
      },
      computed: {
        computedItems () {
          return this.routes.map(this.mapItem)
        },
        currentUser() {
          return false;
        }
      },
      methods: {
        mapItem (item) {
          return {
            ...item,
            children: item.children ? item.children.map(this.mapItem) : undefined,
            title: item.title,
          }
        },
        logOut() {
          this.$auth.logout();
        },
        getAvatar(avatar) {
          return process.env.APP_STORAGE + '/cdn/avatars/' + avatar;
        }
      },
    }
</script>

<style scoped>

</style>
