<template>
    <v-footer
        id="dashboard-core-footer"
        app
    >
        <span class="white--text">&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
</template>

<script>
    export default {
        name: 'DashboardCoreFooter',
        data: () => ({
            drawer: null,
        }),
    }
</script>
