<template>
    <v-app-bar
        app
        color="indigo"
        dark
    >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>Application</v-toolbar-title>
    </v-app-bar>
</template>
<script>
    export default {
        name: 'DashboardCoreMenu',
        data: () => ({
            drawer: null
        }),
        mounted() {
            //
        }
    }
</script>

<style>
    .navbar {
        margin-bottom: 30px;
    }
</style>
