<template id="dashboard-core-view">
    <v-main>
      <router-view />
    </v-main>
</template>

<script>
  export default {
    name: 'DashboardCoreView',
    components: {
        //DashboardCoreFooter: () => import('./Footer'),
    },
    data: function () {
      return {

      }
    },
    methods: {

    }
  }
</script>

<style scoped>

</style>

