<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-layout>
    <v-container
      id="list-usersBo"
      fluid
    >
      <v-data-table
        :headers="headers"
        :items="users"
        :items-per-page="10"
        :page.sync="page"
        hide-default-footer
        hide-default-header
        @page-count="pageCount = $event"
      >
        <template v-slot:top>
          <v-toolbar flat color="transparent" height="50" class="flex-row-reverse top-toolbar">
            <v-toolbar-title><h1>{{ $route.name }}</h1></v-toolbar-title>
            <v-dialog v-model="dialog" max-width="85%">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="mx-2 ml-8"
                  color="primary"
                  x-small fab dark depressed
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon dark size="25">mdi-plus</v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline text-left">{{ formTitle }}</span>
                  <v-icon large color="#9F9F9F darken-1" text @click="close">mdi-close</v-icon>
                </v-card-title>

                <ValidationObserver ref="observer" v-slot="{ invalid }">
                  <v-card-text>
                    <template v-if="listErrors">
                      <v-alert type="error" v-if="Object.keys(listErrors).length > 0">
                        <span class="d-block" v-if="Array.isArray(listErrors)" v-for="(item, i) in listErrors" :key="i">{{item}}</span>
                        <span v-else>{{item}}</span>
                      </v-alert>
                    </template>
                    <form @submit.prevent="submit" enctype="multipart/form-data">
                      <v-container>
                        <v-row>
                          <v-col cols="6" sm="12" md="6">
                            <v-row class="row-fields">
                              <v-col cols="4" sm="12" md="4" class="label-field">
                                <v-label block content-class="d-flex">
                                  <v-icon left color="primary">mdi-image-size-select-actual</v-icon>
                                  Photo
                                </v-label>
                              </v-col>
                              <v-col cols="8" sm="12" md="8" class="col-field">
                                <ValidationProvider v-slot="{ errors, validate }" name="avatar" rules="image">
                                  <v-file-input
                                    class="rounded-xl" ref="fileAvatar"
                                    append-icon="mdi-upload"
                                    prepend-icon=""
                                    placeholder="Ajouter une photo"
                                    v-model="editedItem.avatar"
                                    dense depressed filled
                                    @click:append="uploadFile"
                                    @change="selectFile"
                                    :error-messages="errors"
                                  ></v-file-input>
                                </ValidationProvider>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col cols="6" sm="12" md="6">
                            <v-row class="row-fields">
                              <v-col cols="4" sm="12" md="4" class="label-field">
                                <v-label block content-class="d-flex">
                                  <v-icon left color="primary">mdi-account</v-icon>
                                  Prénom
                                </v-label>
                              </v-col>
                              <v-col cols="8" sm="12" md="8" class="col-field">
                                <ValidationProvider v-slot="{ errors }" name="prenom" rules="required">
                                  <v-text-field
                                    v-model="editedItem.prenom"
                                    :error-messages="errors"
                                    placeholder="Prénom"
                                    dense depressed filled
                                    class="rounded-xl"></v-text-field>
                                </ValidationProvider>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col cols="6" sm="12" md="6">
                            <v-row class="row-fields">
                              <v-col cols="4" sm="12" md="4" class="label-field">
                                <v-label block content-class="d-flex">
                                  <v-icon left color="primary">mdi-account</v-icon>
                                  Nom
                                </v-label>
                              </v-col>
                              <v-col cols="8" sm="12" md="8" class="col-field">
                                <ValidationProvider v-slot="{ errors }" name="nom" rules="required">
                                  <v-text-field
                                    v-model="editedItem.nom"
                                    :error-messages="errors"
                                    placeholder="Nom"
                                    dense depressed filled
                                    class="rounded-xl"></v-text-field>
                                </ValidationProvider>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col cols="6" sm="12" md="6">
                            <v-row class="row-fields">
                              <v-col cols="4" sm="12" md="4" class="label-field">
                                <v-label block content-class="d-flex">
                                  <v-icon left color="primary">mdi-phone</v-icon>
                                  Téléphone
                                </v-label>
                              </v-col>
                              <v-col cols="8" sm="12" md="8" class="col-field">
                                <ValidationProvider
                                  v-slot="{ errors }" name="telephone"
                                  :rules="{ required: { allowFalse: false }, regex:/^[0-9]\d{2}[0-9]\d{1}\d{4}$/ }">
                                  <v-text-field
                                    v-model="editedItem.phone"
                                    placeholder="0 00 00 00 00"
                                    dense depressed filled
                                    class="rounded-xl"></v-text-field>
                                </ValidationProvider>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col cols="6" sm="12" md="6">
                            <v-row class="row-fields">
                              <v-col cols="4" sm="12" md="4" class="label-field">
                                <v-label block content-class="d-flex">
                                  <v-icon left color="primary">mdi-account-check</v-icon>
                                  Rôle
                                </v-label>
                              </v-col>
                              <v-col cols="8" sm="12" md="8" class="col-field">
                                <ValidationProvider v-slot="{ errors }" name="fonction">
                                  <v-select
                                    class="rounded-xl"
                                    v-model="editedItem.role"
                                    :error-messages="errors"
                                    placeholder="Rôle"
                                    :items="['SUPERADMIN','GESTIONNAIRE_P']"
                                    dense depressed filled
                                  ></v-select>
                                </ValidationProvider>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col cols="6" sm="12" md="6">
                            <v-row class="row-fields">
                              <v-col cols="4" sm="12" md="4" class="label-field">
                                <v-label block content-class="d-flex">
                                  <v-icon left color="primary">mdi-at</v-icon>
                                  Email
                                </v-label>
                              </v-col>
                              <v-col cols="8" sm="12" md="8" class="col-field">
                                <ValidationProvider v-slot="{ errors }" name="email" rules="required|email">
                                  <v-text-field
                                    v-model="editedItem.email"
                                    :error-messages="errors"
                                    placeholder="example@email.com"
                                    dense depressed filled
                                    class="rounded-xl"></v-text-field>
                                </ValidationProvider>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col cols="6" sm="12" md="6">
                            <v-row class="row-fields">
                              <v-col cols="4" sm="12" md="4" class="label-field">
                                <v-label block content-class="d-flex">
                                  <v-icon left color="primary">mdi-lock</v-icon>
                                  Password
                                </v-label>
                              </v-col>
                              <v-col cols="8" sm="12" md="8" class="col-field">
                                <ValidationProvider
                                  v-slot="{ errors }" name="password"
                                  :rules="editedIndex > -1 ? '' : 'required'">
                                  <v-text-field
                                    :append-icon="show_pass ? 'mdi-eye' : 'mdi-eye-off'"
                                    :type="show_pass ? 'text' : 'password'"
                                    v-model="editedItem.password"
                                    :error-messages="errors"
                                    placeholder="Password"
                                    dense depressed filled
                                    class="rounded-xl"
                                    @click:append="show_pass = !show_pass"
                                  ></v-text-field>
                                </ValidationProvider>
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                      </v-container>
                    </form>
                  </v-card-text>

                  <v-card-actions>
                    <v-btn
                      filled dense right
                      dark depressed
                      color="primary"
                      min-width="60"
                      :disabled="invalid"
                      class="rounded-xl ml-3 mb-0"
                      @click="save()"
                    >
                      Enregistrer
                    </v-btn>
                  </v-card-actions>
                </ValidationObserver>
              </v-card>
            </v-dialog>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              label="Search"
              single-line
              dense depressed
              filled
              hide-details
              class="flex-none rounded-xl"
            ></v-text-field>
            <v-btn
              filled dense
              dark depressed
              color="primary"
              min-width="60"
              class="flex-none rounded-xl ml-3 mb-0"
              @click="searchUser()"
            >
              <v-icon dark color="white" size="25">mdi-magnify</v-icon>
            </v-btn>
          </v-toolbar>
        </template>

        <template v-slot:header="{ props: {headers} }">
          <thead>
          <tr>
            <th v-for="h in headers">
              <v-icon
                dark left
                class="mr-0"
                color="primary"
                small
              >
                {{ h.icon }}
              </v-icon>
              {{ h.text }}
            </th>
          </tr>
          </thead>
        </template>

        <template v-slot:item="{ item, index }">
          <tr>
            <td class="avatar" width="90">
              <v-avatar v-if="item.avatar">
                <img
                  :src="getAvatar(item.avatar)"
                  :alt="item.nom + ' ' + item.prenom"
                >
              </v-avatar>
              <v-avatar color="primary" v-else>
                <v-icon large dark>
                  mdi-account-circle
                </v-icon>
              </v-avatar>
            </td>

            <td class="no-border">
              <span class="title-td d-inline-block"><b>{{ item.nom }} {{ item.prenom }}</b><br>Gestionnaire </span>
            </td>

            <td>
              <span class="title-td d-inline-block"><b>{{ item.phone ? item.phone : '--' }}</b></span>
            </td>

            <td>
              <span class="title-td d-inline-block"><b>{{ item.email ? item.email : '--' }}</b></span>
            </td>

            <td>
              <span class="title-td d-inline-block">
                <b class="mr-2">******</b>
              </span>
            </td>

            <td class="actions">
              <v-icon
                dark
                color="primary"
                @click="editItem(item)"
              >
                mdi-eye
              </v-icon>
              <div class="edit-b">
                <v-menu
                  content-class="ac-tooltip"
                  nudge-left="20"
                  nudge-bottom="-3"
                  left
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      dark color="primary"
                      v-bind="attrs"
                      v-on="on"
                    >
                      mdi-dots-vertical
                    </v-icon>
                  </template>
                  <v-list class="actions-tooltip">
                    <v-list-item>
                      <v-list-item-title>
                        <v-btn
                          text x-small left
                          block
                          color="black"
                          depressed dense
                          @click="editItem(item)"
                        >
                          <v-icon
                            x-small left
                            class="mr-2"
                            color="primary"
                          >
                            mdi-pencil
                          </v-icon>
                          Edit
                        </v-btn>
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-title>
                        <v-btn
                          text x-small
                          block
                          color="black"
                          depressed dense
                          @click="deleteItem(item)"
                        >
                          <v-icon
                            x-small left
                            class="mr-2"
                            color="primary"

                          >
                            mdi-delete
                          </v-icon>
                          Supprimer
                        </v-btn>
                      </v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </div>
            </td>
          </tr>
        </template>
      </v-data-table>
      <v-pagination
        v-model="page"
        :length="pageCount"
        :total-visible="5"
      ></v-pagination>
    </v-container>
  </v-layout>
</template>

<script>
  import UserBoService from '../../../services/userBo.service'
  import {extend, ValidationObserver, ValidationProvider, setInteractionMode} from 'vee-validate'

  setInteractionMode('eager')

  export default {
    middleware: ['auth', 'auth-prestataire'],
    components: {
      ValidationProvider,
      ValidationObserver,
    },
    name: "List",
    layout: 'prestataire',
    transition: {
      name: 'fade',
      mode: 'out-in'
    },
    data: function () {
      return {
        loading: true,
        show: false,
        show_pass: false,
        page: 1,
        pageCount: 0,
        search: '',
        dialog: false,
        users: [],
        avatar: null,
        editedIndex: -1,
        editedItem: {
          nom: '',
          prenom: '',
          avatar: null,
          email: '',
          phone: '',
          password: '',
          fonction: '',
        },
        defaultItem: {
          nom: '',
          prenom: '',
          avatar: null,
          email: '',
          phone: '',
          password: '',
          fonction: '',
        },
        headers: [
          {
            sortable: false,
            text: 'Photo',
            value: 'avatar',
            icon: 'mdi-image'
          },
          {
            sortable: false,
            text: 'Nom & Prénom',
            value: 'name',
            icon: 'mdi-account'
          },
          {
            sortable: false,
            text: 'Téléphone',
            value: 'phone',
            icon: 'mdi-phone'
          },
          {
            sortable: false,
            text: 'Email',
            value: 'email',
            icon: 'mdi-email'
          },
          {
            sortable: false,
            text: 'Mot de passe',
            value: 'password',
            icon: 'mdi-lock-question'
          },
          {text: '', value: 'actions', sortable: false}
        ]
      }
    },
    computed: {
      formTitle: function () {
        return this.editedIndex === -1 ? "Ajout d'un nouvel utilisateur" : 'Modification des informations'
      },
    },
    watch: {
      dialog: function (val) {
        val || this.close()
      }
    },
    created: function () {
      this.getAllUsersBo();
    },
    methods: {
      getAllUsersBo: function () {
        UserBoService.getUsersBo().then(
          res => {
            this.users = res.data.payload
            this.loading = true
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
            console.log(this.message)
          }
        );
      },

      getUsersBo: function () {
        if (this.$store.state.auth.user) {
          UserService.getUsersBo().then(
            res => {
              //console.log(res.data)
              this.users = res.data.data
              this.loading = true
            },
            error => {
              this.loading = false;
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
        }
        return this.user;
      },

      editItem: function (item) {
        console.log(item);
        let cur_item = item
        this.editedIndex = this.users.indexOf(cur_item)
        this.editedItem = Object.assign({}, cur_item)
        delete this.editedItem.avatar
        delete this.editedItem.password
        this.dialog = true
      },

      deleteItem(item) {
        const index = this.users.indexOf(item)
        confirm('Are you sure you want to delete this item?')
        this.$axios.post(`pre/user/delete/${item.id}`).then(
          res => {
            this.users.splice(index, 1)
            this.close()
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
          }
        )
      },

      uploadFile() {
        var id = this.$refs.fileAvatar.$el.lastChild.firstChild.firstChild.lastChild.id;
        document.querySelector(`input#${id}`).click();
      },

      selectFile(event) {
        this.avatar = event;
      },

      getAvatar(avatar) {
        //console.log(process.env.APP_STORAGE + '/cdn/avatars/' + avatar);
        return process.env.APP_STORAGE + '/cdn/avatars/' + avatar;
      },

      showActions: function (key) {
        return this.show = !this.show
      },

      close: function () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      submit() {
        this.$refs.observer.validate()
      },

      save: function () {
        this.editedItem.avatar = this.avatar
        if (this.editedIndex > -1) {
          let id_user = this.users[this.editedIndex].id
          UserBoService.editUserBo(this.editedItem).then(
            res => {
              // Object.assign(this.users[this.editedIndex], this.editedItem)
              this.getAllUsersBo()
              this.close()
            },
            error => {
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
        } else {
          UserBoService.addUserBo(this.editedItem).then(
            res => {
              this.users.push(res.data.payload)
              this.close()
            },
            error => {
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
        }
      },

      searchUser: function () {
        this.$axios.post('pre/user/search', {search: this.search}).then(
          res => {
            this.users = res.data.payload
            this.close()
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
          }
        );
      }
    }
  }
</script>

<style scoped>
  .flex-none {
    flex: none;
  }
</style>
