<template>
  <v-layout>
    <v-container
      id="list-users"
      fluid
    >
      <base-material-card
        color="warning"
        class="px-5 py-3"
      >
        <template v-slot:heading>
          <div class="display-2 font-weight-light">
            All users
          </div>

          <div class="subtitle-1 font-weight-light">
            New employees on 15th September, 2016
          </div>
        </template>
        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="users"
            :search="search"
          >
            <template v-slot:top>
              <v-toolbar flat color="white" class="flex-row-reverse">
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                  class="flex-none"
                ></v-text-field>
                <v-divider
                  class="mx-4"
                  inset
                  vertical
                ></v-divider>
                <v-dialog v-model="dialog" max-width="500px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      class="mx-2 rounded-bl"
                      color="success"
                      x-small fab dark
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon dark>mdi-plus</v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                      <div v-if="listErrors">
                        <v-alert type="error" v-if="Object.keys(listErrors).length">
                          <div v-for="(error, i) in listErrors">
                            {{ error }}
                          </div>
                        </v-alert>
                      </div>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field solo v-model="editedItem.first_name" label="Prénom"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field solo v-model="editedItem.last_name" label="Nom"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field solo v-model="editedItem.phone" label="Téléphone"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field solo v-model="editedItem.identifier" label="Identifiant"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="12" md="12">
                            <v-select
                              v-model="editedItem.role"
                              :items="['ADMIN','MANAGER','OPERATEUR']"
                              label="Role"
                              solo
                            ></v-select>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field solo v-model="editedItem.email" label="Email"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field solo type="password" v-model="editedItem.password" label="Password"></v-text-field>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                      <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>

            <template v-slot:item.created_at="{ item }">
              <v-chip color="primary" dark>{{ $moment(item.created_at).format('dddd, Do MMMM YYYY') }}</v-chip>
            </template>

            <template v-slot:item.actions="{ item }">
              <v-icon
                small
                class="mr-2"
                @click="editItem(item)"
              >
                mdi-pencil
              </v-icon>
              <v-icon
                small
                @click="deleteItem(item)"
              >
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </v-card-text>
      </base-material-card>
    </v-container>
  </v-layout>
</template>

<script>
  //import UserService from '../../services/user.service'

  export default {
    middleware: 'auth',
    name: "List",
    data () {
      return {
        loading: true,
        search: '',
        dialog: false,
        headers: [
          {
            sortable: true,
            text: 'ID',
            value: 'id',
          },
          {
            sortable: true,
            text: 'Code',
            value: 'code',
          },
          {
            sortable: true,
            text: 'Last name',
            value: 'last_name',
          },
          {
            sortable: false,
            text: 'Email',
            value: 'email',
            align: 'right',
          },
          {
            sortable: false,
            text: 'Role',
            value: 'role',
            align: 'right',
          },
          {
            sortable: true,
            text: 'Date Registration',
            value: 'created_at',
            align: 'right',
            dataType: "Date"
          },
          { text: 'Actions', value: 'actions', sortable: false }
        ],
        users: [],
        editedIndex: -1,
        editedItem: {
          first_name: '',
          last_name: '',
          phone: '',
          identifier: '',
          email: '',
          password: ''
        },
        defaultItem: {
          first_name: '',
          last_name: '',
          phone: '',
          identifier: '',
          email: '',
          password: ''
        }
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New User' : 'Edit User'
      },
    },
    watch: {
      dialog (val) {
        val || this.close()
      }
    },
    created () {
      this.getAllUsers();
    },
    methods: {
      getAllUsers() {
        //console.log(this.$store.state.auth.user)
        this.$axios.get('bo/user/list').then(
          res => {
            this.users = res.data.payload
            this.loading = true
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
            console.log(this.message)
          }
        );
      },
      getUsers() {
        if (this.$store.state.auth.user) {
          UserService.getUsers().then(
            res => {
              //console.log(res.data)
              this.users = res.data.data
              this.loading = true
            },
            error => {
              this.loading = false;
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
        }
        return this.user;
      },
      editItem (item) {
        this.editedIndex = this.users.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.users.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.users.splice(index, 1)
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          let id_user = this.users[this.editedIndex].id
          this.$axios.post(`bo/user/update/${id_user}`, this.editedItem).then(
            res => {
              Object.assign(this.users[this.editedIndex], this.editedItem)
              this.close()
            },
            error => {
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
        } else {
          this.$axios.post('bo/user/create', this.editedItem).then(
            res => {
              this.users.push(res.data.payload)
              this.close()
            },
            error => {
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
        }
      }
    }
  }
</script>

<style scoped>
  .flex-none {
    flex: none;
  }
</style>
