<template>
  <v-layout>
    <v-container
      id="login"
      class="fill-height"
      fluid
    >
      <v-row
        align="center"
        justify="center"
      >
        <v-col cols="12" lg="6">
          <template class="d-flex align-end flex-column">
            <div class="mb-5 mt-8" :class="mini && 'd-none'">
              <v-img :src="require(`~/assets/img/logo.svg`)" aspect-ratio="3" contain></v-img>
              <!--<span class="text-center d-block mt-2"><b>Devcorp</b></span>-->
            </div>
          </template>
          <v-card class="px-5 py-3 rounded-xl">
            <v-card-title class="pr-0 pl-0 pt-1 text-center"></v-card-title>
            <ValidationObserver ref="observer" v-slot="{ validate, reset }">
              <template v-if="listErrors">
                <v-alert type="error" v-if="Object.keys(listErrors).length > 0">
                  <span v-for="(item, i) in listErrors" :key="i">{{item[0]}}</span>
                </v-alert>
              </template>
              <form class="mt-2">
                <v-row>
                  <v-col cols="12" class="pb-0 pt-0">
                    <ValidationProvider v-slot="{ errors }" name="email" rules="required">
                      <v-text-field
                        v-model="user_from.email"
                        :error-messages="errors"
                        label="E-mail"
                        class="rounded-xl"
                        required single-line
                        dense depressed filled
                        :rules="[rules.required, rules.email]"
                      ></v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="12" class="pb-0 pt-0">
                    <ValidationProvider rules="required" name="password" v-slot="{ errors }">
                      <v-text-field
                        v-model="user_from.password"
                        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required]"
                        :type="show1 ? 'text' : 'password'"
                        name="input-10-1"
                        label="Password"
                        hint="At least 6 characters"
                        counter class="rounded-xl"
                        single-line dense
                        depressed filled
                        @click:append="show1 = !show1"
                      ></v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="12">
                    <v-btn
                      class="mr-0 rounded-xl float-right"
                      color="primary"
                      @click="login">
                      Connexion
                    </v-btn>
                  </v-col>
                </v-row>
              </form>
            </ValidationObserver>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
  import User from '../../models/user'
  import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
  import nuxt from "../../.nuxt/components/nuxt";

  setInteractionMode('eager')

  export default {
    middleware: 'guest',
    layout: 'auth',
    components: {
      ValidationProvider,
      ValidationObserver,
    },
    name: 'Login',
    data() {
      return {
        user_from: new User('', '', '', '', 'Password'),
        loading: false,
        message: '',
        show1: false,
        password: '123456',
        mini: false,
        rules: {
          required: value => !!value || 'Required.',
          email: v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
          emailMatch: () => ('The email and password you entered don\'t match'),
        }
      };
    },
    computed: {
      loggedIn() {
        //return this.$store.state.auth.status.loggedIn;
        return false
      }
    },
    created() {
      if (this.loggedIn) {
        this.$router.push('/profile');
      }
    },
    methods: {
      async login() {
        this.loading = true
        let api_path = this.$store.getters['path/bo_path']
        try {
          await this.$auth.loginWith(api_path.path, {
            data: this.user_from
          })
          //console.log(this.$router)
          this.$router.push(this.$route.query.redirect ? this.$route.query.redirect : '/' + api_path.path)
        } catch {
          //this.$store.dispatch('validation/setErrors')
          console.log(this.$store.getters)
        }
        /*this.$axios.post('bo/auth/login', this.user).then(
          () => {
            this.loading = true;
            this.$router.push('/dashboard');
          },
          error => {
            this.loading = false;
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
          }
        );*/

      }
    }
  };
</script>
