<template>
  <v-layout>
    <v-container
      id="login"
      class="fill-height"
      fluid
    >
      <v-row
        align="center"
        justify="center"
      >
        <v-col cols="12" lg="6">
          <ValidationObserver ref="observer" v-slot="{ validate, reset }">
            <v-alert type="error" v-if="Object.keys(listErrors).length > 0">
              <span v-for="(item, i) in listErrors" :key="i">{{item[0]}}</span>
            </v-alert>
            <form>
              <ValidationProvider rules="required" name="name" v-slot="{ errors }">
                <v-text-field
                  v-model="user_form.name"
                  :error-messages="errors"
                  label="Name"
                  required
                ></v-text-field>
              </ValidationProvider>
              <ValidationProvider v-slot="{ errors }" name="email" rules="required">
                <v-text-field
                  v-model="user_form.email"
                  :error-messages="errors"
                  label="E-mail"
                  required
                  :rules="[rules.required, rules.email]"
                ></v-text-field>
              </ValidationProvider>
              <ValidationProvider rules="required" name="password" v-slot="{ errors }">
                <v-text-field
                  v-model="user_form.password"
                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="[rules.required, rules.min]"
                  :type="show1 ? 'text' : 'password'"
                  name="input-10-1"
                  label="Password"
                  hint="At least 6 characters"
                  counter
                  @click:append="show1 = !show1"
                ></v-text-field>
              </ValidationProvider>

              <v-btn class="mr-4" @click="register">submit</v-btn>
            </form>
          </ValidationObserver>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
  import User from '../../models/user'
  import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
  setInteractionMode('eager')

  export default {
    middleware: 'guest',
    components: {
      ValidationProvider,
      ValidationObserver,
    },
    name: "Register",
    data() {
      return {
        user_form: new User('', '', '', '', 'Password'),
        loading: false,
        message: '',
        show1: false,
        password: 'Password',
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 6 || 'Min 6 characters',
          email: v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
          emailMatch: () => ('The email and password you entered don\'t match'),
        }
      };
    },
    computed: {
      loggedIn() {
        return this.$store.state.auth.status.loggedIn;
      }
    },
    created() {
      /*if (this.loggedIn) {
          this.$router.push('/users');
      }*/
    },
    methods: {
      async register() {
        this.loading = true;

        //console.log(this.$refs.observer)
        await this.$refs.observer.validate().then(isValid => {
          if (!isValid) {
            this.loading = false;
            return;
          }

          this.$axios.post('bo/auth/register', this.user_form).then(
            res => {
              console.log(res)
              this.loading = true
              this.$auth.Login({data: this.user_form})
              this.$router.push('/dashboard')
            },
            error => {
              this.loading = false;
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          )
        });
      }
    }
  }
</script>

<style scoped>

</style>
