body {
    position: relative;
    margin: 0 auto;
}
table {
    display: table;
}
p {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 0;
}
.text-right {
    text-align: right;
}
.m-10 {
    margin-bottom: 10px;
}
.m-5 {
    margin-bottom: 10px;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.pd {
    padding: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.text-center {
    text-align: center;
}
.img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}
.my-constat {
    border-collapse: collapse;
}
table tr {
    line-height: 25px;
    display: table;
    width: 100%;
    vertical-align: top;
    border-collapse: collapse;
    margin-bottom: 12px;
}
.bloc-intos {
    background: url("../img/infos.png") no-repeat left top;
    background-size: cover;
    border-collapse: collapse;
}
.bloc-intos > td {
    padding-bottom: 36px;
    margin: 0px;
    padding-top: 42px;
    padding-right: 41px;
}
.bloc-intos > td.center {
    padding: 0;
}
.bloc-intos > td.right {
    padding-bottom: 36px;
    margin: 0px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 0;
}
.bloc-c {
    background: url("../img/left.png") no-repeat left top;
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.bloc-c.center {
    background-image: url("../img/center.jpg");
    background-position: left top;
    z-index: -1;
}
.bloc-c.right {
    background-image: url("../img/right.png");
    background-position: right top;
}
.address {
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
}
.cl-name {
    display: block;
    font-size: 14px;
    line-height: 22px;
}
.cl-infos {
    display: block;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}
.logo {
    text-align: right;
    width: 100%;
}
.bloc-tbl {
    width: 100%;
    margin-top: 15px;
}
.td-blue {
    font-weight: bold;
    color: #00CCFF;
}
.head-services {
    text-align: left;padding-bottom: 0;border-bottom: 2px solid #ccc;line-height: 35px;margin-bottom: 5px;width: 100%;
}
.border {
    border-bottom: 2px solid #ccc;
}
.footer {
    position: absolute;
    bottom: 0;
    border-top: 2px solid #ccc;
    padding: 0;
    width: 100%;
    margin: 0;
}
.bloc-tbl tr td {
    padding-right: 10px;
    display: inline-table;
}
.bloc-tbl td p {
    display: flex;
    align-items: baseline;
    padding-bottom: 0;
    width: 100%;
}
.space {
    width: 100%;
    height: 5px;
    display: flex;
}
span.title {
    font-weight: bold;
    margin: 0;
    line-height: 23px;
    margin-bottom: 0;
    display: flex;
    /* flex: 1; */
    margin-right: 6px;
    font-size: 19px;
}
.infos {
    text-align: left;
    font-size: 14px;
    padding-left: 8px;
    line-height: 21px;
    margin-bottom: 0;
    display: flex;
    margin-right: 6px;
    /* flex: 1; */
}
.infos-head {
    text-align: left;
    font-size: 13px;
    padding-left: 8px;
    line-height: 21px;
    margin-bottom: 0;
    display: flex;
    margin-right: 6px;
    /* flex: 1; */
}
.infos.ars {
    font-size: 16px;
}
.infos-head.ars {
    font-size: 13px;
}
span.txt-title {
    display: block;
    width: 100%;
    border-bottom: 1px dashed;
    flex: 1;
    text-align: center;
    font-size: 14px;
    line-height: 12px;
    /* margin: 0 0 10px; */
}
span.txt-title-head {
    display: block;
    width: 100%;
    border-bottom: 1px dashed;
    flex: 1;
    text-align: center;
    font-size: 14px;
    line-height: 10px;
    /* margin: 0 0 10px; */
}

.rtl .bloc-tbl td {
    padding-right: 0;
    padding-left: 10px;
}
.rtl span.title {
    margin-right: 0;
    margin-left: 6px;
}
.right .infos {
    text-align: right;
}
.bloc-tbl td p.text-center {
    display: block;
    margin-bottom: 0;
}
.croquis {
    position: relative;
    height: 100%;
}
.croquis img {
    position: fixed;
    bottom: 100px;
}
.bloc-head {
    padding: 0 15px 10px;
}
.bloc-tbl.bloc-head td p {
    margin-bottom: 0;
    font-size: 13px;
}
.bloc-head .infos, .bloc-head span.txt-title {
    font-size: 13px;
    padding-left: 0;
}
.bloc-head .rtl .infos {
    margin-right: 0;
    margin-left: 6px;
}
.sep-fill {
    background: #ffffff;
    padding: 0 4px;
}

.bloc-tbl.bloc-head .ar p {
    font-size: 19px;
}
