<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-layout>
    <v-container
      id="details-dossier"
      fluid
    >
      <template v-if="dossier">
        <v-toolbar flat color="transparent" height="50" class="flex-row-reverse top-toolbar">
          <v-toolbar-title><h1>Details dossier</h1></v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn
            filled dense
            dark depressed
            color="primary"
            min-width="60"
            class="flex-none rounded-xl ml-3 mb-0"
            @click="validateConstat(dossier.id_constat)"
          >
            <v-icon dark color="white" size="18" class="mr-2">mdi-check-all</v-icon>
            Validation du constat
          </v-btn>
        </v-toolbar>
        <v-snackbar
          v-model="snackbar"
          :timeout="timeout"
          color="success"
        >
          Constat validée avec succès

          <template v-slot:action="{ attrs }">
            <v-btn
              color="primary"
              text
              v-bind="attrs"
              @click="snackbar = false"
            >
              Close
            </v-btn>
          </template>
        </v-snackbar>
        <v-row
          align="center"
          justify="start"
        >
          <v-col cols="12">
            <v-card
              class="px-5 py-3 mt-0 rounded-xl"
            >
              <v-card-title class="pr-0 pl-0 pt-1 title-infos">Informations générales</v-card-title>
              <v-row
                align="center"
                justify="start"
              >
                <v-col
                  cols="4"
                >
                  <span class="bloc-infos no-border pl-0">
                    <v-icon
                      dark left
                      class="mx-0"
                      color="primary"
                    >
                      mdi-folder-open
                    </v-icon>
                    N° dossier : <b>{{ dossier.code }}</b>
                  </span>
                </v-col>
                <v-col
                  cols="4"
                >
                  <span class="bloc-infos">
                    <v-icon
                      dark
                      left
                      color="primary"
                    >
                      mdi-calendar-month-outline
                    </v-icon>
                    Date de prestation : <b>{{ $moment(dossier.workflow.date_etablissement).format('DD/MM/YYYY') }}</b>
                  </span>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>

        <v-row
          align="center"
          justify="start"
        >
          <v-col
            cols="12"
          >
            <v-card
              class="px-5 py-3 mt-0 rounded-xl"
            >
              <v-card-title class="pr-0 pl-0 pt-1 title-infos">Détails d'intervention</v-card-title>
              <v-row
                align="center"
                justify="start"
              >
                <v-col cols="12">
                  <div
                    class="pb-0 d-inline-block mr-4"
                  >
                    <span class="bloc-infos no-border pl-0">
                      <span>
                        <v-icon
                          dark left
                          class="mx-0"
                          color="primary"
                        >
                          mdi-city
                        </v-icon> Ville :
                      </span>
                      <span><b>{{ dossier.workflow.ville }}</b></span>
                    </span>
                  </div>
                  <div
                    class="pb-0 d-inline-block mr-4"
                  >
                    <span class="bloc-infos">
                      <span>
                        <v-icon
                          dark left
                          class="mx-0"
                          color="primary"
                        >
                          mdi-map-marker
                        </v-icon> Quartier :
                      </span>
                      <span> <b>{{ dossier.workflow.lieu }}</b></span>
                    </span>
                  </div>
                  <div
                    class="pb-0 d-inline-block"
                  >
                    <span class="bloc-infos">
                      <span>
                        <v-icon
                          dark left
                          class="mx-0"
                          color="primary"
                        >
                          mdi-clock-time-five-outline
                        </v-icon> Heure d'intervention :
                      </span>
                      <span> <b>{{ dossier.workflow.heure_etablissement }}</b></span>
                    </span>
                  </div>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>

        <v-row
          align="center"
          justify="start"
        >
          <v-col
            cols="6"
          >
            <v-card
              class="px-5 py-3 mt-0 rounded-xl"
            >
              <v-card-title class="pr-0 pl-0 pt-1">
                <template>
                  <v-tabs
                    v-model="tab1"
                    height="35"
                    slider-size="4"
                  >
                    <v-tabs-slider color="primary"></v-tabs-slider>

                    <v-tab key="1" class="text-none">Assuré</v-tab>
                    <v-tab key="2" class="text-none">Conducteur</v-tab>
                  </v-tabs>
                </template>
                <div class="tag-title">Partie 1</div>
              </v-card-title>
              <v-row
                align="center"
                justify="start"
              >
                <v-col
                  cols="12"
                  class="px-0"
                >
                  <vuescroll>
                    <v-tabs-items class="b-tabs-items" v-model="tab1">
                      <v-tab-item key="1">
                        <v-row class="mx-0">
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Nom :</span> <span> <b>{{ dossier.assures[0] ? dossier.assures[0].nom : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Prénom :</span> <span> <b>{{ dossier.assures[0] ? dossier.assures[0].prenom : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Adresse :</span> <span> <b>{{ dossier.assures[0] ? dossier.assures[0].adresse : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Téléphone :</span> <span> <b>{{ dossier.assures[0] ? dossier.assures[0].telephone : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Sté d'assurance</span> <span> <b v-if="dossier.assures[0]">{{ dossier.assures[0].assurance ? dossier.assures[0].assurance.nom : '--' }} ({{ dossier.assures[0].ste_assurance }})</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>N° attestation :</span> <span> <b>{{ dossier.assures[0] ? dossier.assures[0].n_attestation : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td no-border">
                              <span>Validité attestation :</span>
                              <span>
                                du <b>{{ dossier.assures[0] ? $moment(dossier.assures[0].attes_valide_du).format('DD/MM/YYYY') : '--' }}</b> au
                                <b>{{ dossier.assures[0] ? $moment(dossier.assures[0].attes_valide_au).format('DD/MM/YYYY') : '--' }}</b>
                              </span>
                            </span>
                          </v-col>
                        </v-row>
                      </v-tab-item>
                      <v-tab-item key="2">
                        <v-row class="mx-0">
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Nom :</span> <span> <b>{{ dossier.conducteurs[0] ? dossier.conducteurs[0].nom : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Prénom :</span> <span> <b>{{ dossier.conducteurs[0] ? dossier.conducteurs[0].prenom : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Adresse :</span> <span> <b>{{ dossier.conducteurs[0] ? dossier.conducteurs[0].adresse : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>N° de permis de conduire :</span> <span> <b>{{ dossier.conducteurs[0] ? dossier.conducteurs[0].num_permis : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Date de délivrance :</span> <span> <b>{{ dossier.conducteurs[0] ? $moment(dossier.conducteurs[0].date_delivrance).format('DD/MM/YYYY') : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Préfecture de délivrance :</span> <span> <b>{{ dossier.conducteurs[0] ? dossier.conducteurs[0].prefecture_delivrance : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td no-border">
                              <span>Validité :</span>
                              <span><b>{{ dossier.conducteurs[0] ? $moment(dossier.conducteurs[0].delai_validite).format('DD/MM/YYYY') : '--' }}</b></span>
                            </span>
                          </v-col>
                        </v-row>
                      </v-tab-item>
                    </v-tabs-items>
                  </vuescroll>
                </v-col>
              </v-row>
            </v-card>
          </v-col>

          <v-col cols="6">
            <v-card
              class="px-5 py-3 mt-0 rounded-xl"
            >
              <v-card-title class="pr-0 pl-0 pt-1">
                <template>
                  <v-tabs
                    v-model="tab2"
                    height="35"
                    slider-size="4"
                  >
                    <v-tabs-slider color="primary"></v-tabs-slider>

                    <v-tab key="1" class="text-none">Assuré</v-tab>
                    <v-tab key="2" class="text-none">Conducteur</v-tab>
                  </v-tabs>
                </template>
                <div class="tag-title">Partie 2</div>
              </v-card-title>
              <v-row
                align="center"
                justify="start"
              >
                <v-col
                  cols="12"
                  class="px-0"
                >
                  <vuescroll>
                    <v-tabs-items class="b-tabs-items" v-model="tab2">
                      <v-tab-item key="1">
                        <v-row class="mx-0">
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Nom</span> <span> <b>{{ dossier.assures[1] ? dossier.assures[1].nom : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Prénom</span> <span> <b>{{ dossier.assures[1] ? dossier.assures[1].prenom : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Adresse</span> <span> <b>{{ dossier.assures[1] ? dossier.assures[1].adresse : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Téléphone</span> <span> <b>{{ dossier.assures[1] ? dossier.assures[1].telephone : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td">
                              <span>Sté d'assurance</span>
                              <span v-if="dossier.assures[1]"><b v-if="dossier.assures[1].assurance">{{ dossier.assures[1].assurance.nom }} ({{ dossier.assures[1].ste_assurance }})</b></span>
                              <span v-else>--</span>
                            </span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>N° attestation</span> <span> <b>{{ dossier.assures[1] ? dossier.assures[1].n_attestation : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td no-border">
                              <span>Validité attestation</span>
                              <span>
                                du <b>{{ dossier.assures[1] ? $moment(dossier.assures[1].attes_valide_du).format('DD/MM/YYYY') : '--' }}</b>
                                au <b>{{ dossier.assures[1] ? $moment(dossier.assures[1].attes_valide_au).format('DD/MM/YYYY') : '--' }}</b>
                              </span>
                            </span>
                          </v-col>
                        </v-row>
                      </v-tab-item>
                      <v-tab-item key="2">
                        <v-row class="mx-0">
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Nom :</span> <span> <b>{{ dossier.conducteurs[1] ? dossier.conducteurs[1].nom : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Prénom :</span> <span> <b>{{ dossier.conducteurs[1] ? dossier.conducteurs[1].prenom : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Adresse :</span> <span> <b>{{ dossier.conducteurs[1] ? dossier.conducteurs[1].adresse : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>N° de permis de conduire :</span> <span> <b>{{ dossier.conducteurs[1] ? dossier.conducteurs[1].num_permis : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Date de délivrance :</span> <span> <b>{{ dossier.conducteurs[1] ? $moment(dossier.conducteurs[1].date_delivrance).format('DD/MM/YYYY') : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td"><span>Préfecture de délivrance :</span> <span> <b>{{ dossier.conducteurs[1] ? dossier.conducteurs[1].prefecture_delivrance : '--' }}</b></span></span>
                          </v-col>
                          <v-col
                            cols="12"
                            class="pb-0"
                          >
                            <span class="bloc-infos d-flex td no-border">
                              <span>Validité :</span>
                              <span><b>{{ dossier.conducteurs[1] ? $moment(dossier.conducteurs[1].delai_validite).format('DD/MM/YYYY') : '--' }}</b></span>
                            </span>
                          </v-col>
                        </v-row>
                      </v-tab-item>
                    </v-tabs-items>
                  </vuescroll>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>

        <v-row
          align="center"
          justify="start"
        >
          <v-col cols="12" md="12">
            <v-card
              class="px-5 py-3 mt-0 rounded-xl"
            >
              <v-card-title class="pr-0 pl-0 pt-1 title-infos">Photos de l'accident</v-card-title>
              <v-row
                align="center"
                justify="start"
              >
                <v-col
                  v-for="i in 6"
                  :key="i"
                  cols="12"
                  md="2"
                >
                  <v-img
                    :src="require(`~/assets/img/degats/${i}.png`)"
                    :lazy-src="require(`~/assets/img/degats/${i}.png`)"
                    aspect-ratio="1"
                    contain
                  ></v-img>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>

        <v-row
          align="center"
          justify="start"
        >
          <v-col cols="12" md="12">
            <v-card
              class="px-5 py-3 mt-0 rounded-xl"
            >
              <v-card-title class="pr-0 pl-0 pt-1 title-infos">E-consta</v-card-title>
              <v-row
                align="center"
                justify="start"
              >
                <v-col v-if="dossier.recap"
                   key="0"
                   cols="12"
                   md="2"
                >
                  <template>
                    <v-hover v-slot="{ hover }">
                      <div @click="" class="bloc-pdf" :class="{ 'on-hover': hover }">
                        <a v-bind:href="getPdf(dossier.code, dossier.id_constat)"
                          target="_blank"
                        >
                          <pdf
                            :src="getPdf(dossier.code, dossier.id_constat)"
                            @num-pages="pageCount = $event"
                            @page-loaded="currentPage = $event"
                            ref="pdf0"
                          ></pdf>
                        </a>
                      </div>
                    </v-hover>
                  </template>
                </v-col>
                <v-col
                  v-for="(item, i) in dossier.linked_constats"
                  :key="i + 1"
                  cols="12"
                  md="2"
                >
                  <template v-if="item.recap">
                    <v-hover v-slot="{ hover }">
                      <div @click="" class="bloc-pdf" :class="{ 'on-hover': hover }">
                        <a
                          v-bind:href="getPdf(item.code, item.id_constat)"
                          target="_blank"
                        >
                          <pdf
                            :src="getPdf(item.code, item.id_constat)"
                            @num-pages="pageCount = $event"
                            @page-loaded="currentPage = $event"
                            :ref="'pdf' + i+1"
                          ></pdf>
                        </a>
                      </div>
                    </v-hover>
                  </template>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </v-container>
  </v-layout>
</template>

<script>
  import ConstatService from '../../../services/constat.service'
  import { gmapsMap, gmapsMarker } from 'x5-gmaps'
  import pdf from "vue-pdf"
  import vuescroll from 'vuescroll'

  export default {
    middleware: ['auth', 'auth-assistance'],
    components: { gmapsMap, gmapsMarker, pdf, vuescroll },
    layout: 'assistance',
    name: "Details",
    transition: {
      name: 'fade',
      mode: 'out-in'
    },
    data () {
      return {
        loading: true,
        tab1: null,
        tab2: null,
        position: { lat: 31.7858371, lng: -9.3940577 },
        mapOptions: {
          center: { lat: 31.7858371, lng: -9.3940577 },
          zoom: 8,
          zoomControl: false,
          fullscreenControl: true
        },
        currentPage: 0,
        pageCount: 0,
        dossier: null,
        validate: 0,
        snackbar: false,
        timeout: 2000
      }
    },
    created() {
      /*if(this.$route.params.constat)
        this.dossier = this.$route.params.constat
      else this.getConstat(this.$route.params.id)*/
      this.getConstat(this.$route.params.id)
      if(this.dossier) {
        this.validate = this.dossier.etat == 'FINISHED' ? 1 : 0
      }

    },
    mounted() {

    },
    computed: {

    },
    watch: {
      dialog (val) {
        val || this.close()
      }
    },
    methods: {
      validateConstat(id_constat) {
        ConstatService.validate(id_constat).then(
          res => {
            this.validate = 1
            this.snackbar = true
            this.loading = true
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
            console.log(this.message)
          }
        )
      },
      getConstat(id_constat) {
        ConstatService.getDossier(id_constat, 'ass').then(
          res => {
            this.dossier = res.data.payload
            this.loading = true
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
            console.log(this.message)
          }
        )
      },
      getImage(path, name) {
        return process.env.APP_STORAGE + path + name
      },
      verifyFile(id_constat, verify) {
        verify = false
        ConstatService.check_file(id_constat).then(
          res => {
            verify = res.data.payload.exist
            this.loading = true
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
            console.log(this.message)
            verify = false
          }
        )
        return verify
      },
      getPdf(code, id_constat) {
        let name = code + '-' + id_constat + '.pdf'
        return process.env.APP_STORAGE + '/cdn/recap/constat-' + name
      }
    }
  }
</script>

<style scoped>
  .flex-none {
    flex: none;
  }
  .mapper {
    height: 160px;
    width: 100%;
  }
  .bloc-pdf {
    transition: opacity .4s ease-in-out;
  }
  .bloc-pdf:not(.on-hover) {
    opacity: 0.6;
  }
  .show-btns {
    color: rgba(170, 34, 50, 1) !important;
  }
</style>
