<template>
  <v-container
    id="user-profile"
    fluid
    tag="section"
  >
    <v-row justify="center">
      <v-col
        cols="12"
        md="8"
      >
        <base-material-card color="primary">
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              Profil
            </div>

            <div class="subtitle-1 font-weight-light">
              Compléter votre profil
            </div>
          </template>

          <ValidationObserver ref="observer" v-slot="{ invalid }">
            <template v-if="listErrors">
              <v-alert type="error" v-if="Object.keys(listErrors).length > 0">
                <span class="d-block" v-if="Array.isArray(listErrors)" v-for="(item, i) in listErrors" :key="i">{{item}}</span>
                <span v-else>{{item}}</span>
              </v-alert>
            </template>
            <form @submit.prevent="submit" enctype="multipart/form-data">
              <v-container>
                <v-row>
                  <v-col cols="6" sm="12" md="6">
                    <ValidationProvider v-slot="{ errors }" name="prenom" rules="required">
                      <v-text-field
                        v-model="user.prenom"
                        :error-messages="errors"
                        placeholder="Prénom"
                        dense depressed filled
                        prepend-inner-icon="mdi-account"
                        class="rounded-xl"></v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="6" sm="12" md="6">
                    <ValidationProvider v-slot="{ errors }" name="nom" rules="required">
                      <v-text-field
                        v-model="user.nom"
                        :error-messages="errors"
                        placeholder="Nom"
                        dense depressed filled
                        prepend-inner-icon="mdi-account"
                        class="rounded-xl"></v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="6" sm="12" md="6">
                    <ValidationProvider
                      v-slot="{ errors }" name="telephone"
                      :rules="{ required: { allowFalse: false }, regex:/^[0-9]\d{2}[0-9]\d{1}\d{4}$/ }">
                      <v-text-field
                        v-model="user.telephone"
                        :error-messages="errors"
                        placeholder="000000000"
                        dense depressed filled
                        prepend-inner-icon="mdi-phone"
                        class="rounded-xl"></v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="6" sm="12" md="6">
                    <ValidationProvider v-slot="{ errors }" name="role">
                      <v-select
                        class="rounded-xl"
                        v-model="user.role"
                        :error-messages="errors"
                        placeholder="Rôle"
                        :items="['SUPERADMIN','GESTIONNAIRE_CA','EXPERT']"
                        dense depressed filled
                        prepend-inner-icon="mdi-account-cog"
                      ></v-select>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="6" sm="12" md="6">
                    <ValidationProvider v-slot="{ errors }" name="email" rules="required|email">
                      <v-text-field
                        v-model="user.email"
                        :error-messages="errors"
                        placeholder="example@email.com"
                        dense depressed filled
                        prepend-inner-icon="mdi-email"
                        class="rounded-xl"></v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="6" sm="12" md="6">
                    <ValidationProvider
                      v-slot="{ errors }" name="password"
                      rules="">
                      <v-text-field
                        :append-icon="show_pass ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show_pass ? 'text' : 'password'"
                        v-model="user.password"
                        :error-messages="errors"
                        placeholder="Password"
                        dense depressed filled
                        hint="At least 6 characters"
                        class="rounded-xl"
                        @click:append="show_pass = !show_pass"
                        prepend-inner-icon="mdi-lock"
                      ></v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="12" sm="12" md="12" class="text-right">
                    <v-btn
                      filled dense right
                      dark depressed
                      color="primary"
                      min-width="60"
                      class="rounded-xl ml-3 mb-0"
                      :disabled="invalid"
                      @click="save"
                    >
                      Enregistrer
                    </v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </form>
          </ValidationObserver>
        </base-material-card>
      </v-col>

      <v-col
        cols="12"
        md="4"
      >
        <base-material-card
          class="v-card-profile"
          :avatar="user.avatar ? getAvatar(user.avatar) : require(`~/assets/img/businessman.svg`)"
        >
          <v-card-text class="text-center">
            <h6 class="display-1 mb-1 grey--text">
              {{user.role}}
            </h6>

            <h4 class="display-2 font-weight-light mb-3 black--text">
              {{user.prenom}} {{user.nom}}
            </h4>

            <p class="font-weight-light grey--text">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
          </v-card-text>
        </base-material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import UserAssuranceService from '../../../services/user_assurance.service'
  import {extend, ValidationObserver, ValidationProvider, setInteractionMode} from 'vee-validate'
  setInteractionMode('eager')

  export default {
    name: 'UserProfile',
    middleware: ['auth', 'auth-assurance'],
    layout: 'assurance',
    transition: {
      name: 'fade',
      mode: 'out-in'
    },
    components: {
      ValidationProvider,
      ValidationObserver,
    },
    data: function () {
      return {
        loading: true,
        show: false,
        show_pass: false,
        editedItem: {
          nom: '',
          prenom: '',
          avatar: null,
          email: '',
          telephone: '',
          password: '',
          fonction: '',
        }
      }
    },
    created: function() {
      console.log(this.$store)
    },
    methods: {
      submit() {
        this.$refs.observer.validate()
      },

      save() {
        let id_user = this.users[this.editedIndex].id
        UserAssuranceService.editUser(this.editedItem).then(
          res => {
            // Object.assign(this.users[this.editedIndex], this.editedItem)
            this.getAllUsers()
            this.close()
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
          }
        );
      },

      getAvatar(avatar) {
        return process.env.APP_STORAGE + '/cdn/avatars/' + avatar;
      }
    }
  }
</script>
