<template>
  <v-app light id="inspire">
    <assistance-core-drawer />

    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "assistance",
  components: {
    AssistanceCoreDrawer: () => import('./partials/DrawerAssistance')
  },
  data () {
    return {

    }
  }
}
</script>
