<template>
  <v-app light id="inspire">
    <assurance-core-drawer />

    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "assurance",
  components: {
    AssuranceCoreDrawer: () => import('./partials/DrawerAssurance')
  },
  data () {
    return {

    }
  }
}
</script>
