<template>
  <v-app light id="inspire">

    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>

    <!--<dashboard-core-footer />-->
  </v-app>
</template>

<script>
export default {
  name: "auth",
  components: {

  },
  data () {
    return {

    }
  }
}
</script>
