<template>
  <v-app light id="inspire">
    <dashboard-core-drawer />

    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>

    <!--<dashboard-core-footer />-->
  </v-app>
</template>

<script>
export default {
  name: "default",
  components: {
    DashboardCoreDrawer: () => import('./partials/Drawer'),
    //DashboardCoreMenu: () => import('../components/core/Menu'),
    //DashboardCoreView: () => import('../components/core/View'),
    //DashboardCoreFooter: () => import('./partials/Footer'),
  },
  data () {
    return {

    }
  }
}
</script>
