<template>
  <v-layout>
    <v-container
      id="error"
      class="fill-height"
      fluid
    >
      <v-row
        align="center"
        justify="center"
      >
        <v-col cols="12" md="8" lg="8">
          <template class="d-flex align-center">
            <v-card class="px-5 py-3 mt-8" color="transparent" flat>
              <div class="display-3 mt-5 text-center">
                <h1>Oops!</h1>
                <h2 v-if="error.statusCode === 404">
                  {{ pageNotFound }}
                </h2>
                <h2 v-else>
                  {{ otherError }}
                </h2>
              </div>
              <div class="grey--text text-center lighten-5 mt-5">
                The page you are trying to get to never existed in this reality,
                or has migrated to a parallel universe.
              </div>
              <div class="paragraph-text text-center mt-5">
                Try going back to <NuxtLink :to="boPath ? '/' + boPath.path : '/admin'">home</NuxtLink> page and repeating your action. Or,
                contact helpdesk for support.
              </div>
            </v-card>
          </template>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
  import layout from '@/middleware/layout'
  export default {
    layout: layout,
    props: {
      error: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        pageNotFound: '404 Not Found',
        otherError: 'An error occurred'
      }
    },
    head () {
      const title =
        this.error.statusCode === 404 ? this.pageNotFound : this.otherError
      return {
        title
      }
    }
  }
</script>

<style scoped>
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    margin: 0px;
    font-weight: 900;
    background: url(../assets/img/bg.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
    line-height: normal;
    text-align: center;
  }
</style>
