<template>
  <v-app light id="inspire">
    <prestataire-core-drawer />

    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "prestataire",
  components: {
    PrestataireCoreDrawer: () => import('./partials/DrawerPrestataire'),
  },
  data () {
    return {

    }
  }
}
</script>
