<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-layout>
    <v-container
      id="details-dossier"
      fluid
    >
      <template v-if="dossier">
        <v-toolbar flat color="transparent" height="50" class="flex-row-reverse top-toolbar">
          <v-toolbar-title><h1>Details dossier</h1></v-toolbar-title>
        </v-toolbar>
        <v-snackbar
          v-model="snackbar"
          :timeout="timeout"
          color="success"
        >
          Constat validée avec succès

          <template v-slot:action="{ attrs }">
            <v-btn
              color="primary"
              text
              v-bind="attrs"
              @click="snackbar = false"
            >
              Close
            </v-btn>
          </template>
        </v-snackbar>
        <v-row
          align="center"
          justify="start"
        >
          <v-col cols="12">
            <v-card
              class="px-5 py-3 mt-0 rounded-xl"
            >
              <v-card-title class="pr-0 pl-0 pt-1 title-infos">Informations générales</v-card-title>
              <v-row
                align="center"
                justify="start"
              >
                <v-col
                  cols="12" md="4"
                >
                  <span class="bloc-infos no-border pl-0">
                    <v-icon
                      dark left
                      class="mx-0"
                      color="primary"
                    >
                      mdi-folder-open
                    </v-icon>
                    N° dossier : <b>{{ dossier.id_constat }}</b>
                  </span>
                </v-col>
                <v-col
                  cols="12" md="4"
                >
                  <span class="bloc-infos no-border pl-0">
                    <v-icon
                      dark left
                      class="mx-0"
                      color="primary"
                    >
                      mdi-folder-open
                    </v-icon>
                    N° dossier : <b>{{ dossier.code }}</b>
                  </span>
                </v-col>
                <v-col
                  cols="12" md="4"
                >
                  <span class="bloc-infos">
                    <v-icon
                      dark
                      left
                      color="primary"
                    >
                      mdi-calendar-month-outline
                    </v-icon>
                    Date de sinistre : <b>{{ $moment(dossier.workflow.date_etablissement).format('DD/MM/YYYY') }}</b>
                  </span>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>

        <v-row
          align="center"
          justify="start"
        >
          <v-col
            cols="12"
          >
            <v-card
              class="px-5 py-3 mt-0 rounded-xl"
            >
              <v-card-title class="pr-0 pl-0 pt-1 title-infos">Détails d'intervention</v-card-title>
              <v-row
                align="center"
                justify="start"
              >
                <v-col cols="12" md="4">
                  <div
                    class="pb-0 d-inline-block mr-4"
                  >
                    <span class="bloc-infos no-border pl-0">
                      <span>
                        <v-icon
                          dark left
                          class="mx-0"
                          color="primary"
                        >
                          mdi-city
                        </v-icon> Ville :
                      </span>
                      <span><b>{{ dossier.workflow.ville }}</b></span>
                    </span>
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div
                    class="pb-0 d-inline-block mr-4"
                  >
                    <span class="bloc-infos">
                      <span>
                        <v-icon
                          dark left
                          class="mx-0"
                          color="primary"
                        >
                          mdi-map-marker
                        </v-icon> Quartier :
                      </span>
                      <span> <b>{{ dossier.workflow.lieu }}</b></span>
                    </span>
                  </div>
                  <!--<div
                    class="pb-0 d-inline-block"
                  >
                    <span class="bloc-infos">
                      <span>
                        <v-icon
                          dark left
                          class="mx-0"
                          color="primary"
                        >
                          mdi-clock-time-five-outline
                        </v-icon> Heure de missionnement :
                      </span>
                      <span> <b>{{ dossier.workflow.heure_etablissement }}</b></span>
                    </span>
                  </div>-->
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>

        <v-row
          align="center"
          justify="start"
        >

          <carousel
            :navigationEnabled="true"
            :paginationEnabled="false"
            easing="linear"
            :navigationNextLabel="'<i aria-hidden=true class=\'v-icon notranslate mx-0 v-icon--left mdi mdi-arrow-right theme--dark white--text\'></i><span>'+dossier.linked_constats.length+'</span>'"
            :navigationPrevLabel="'<i aria-hidden=true class=\'v-icon notranslate mx-0 v-icon--left mdi mdi-arrow-left theme--dark white--text\'></i><span>'+dossier.linked_constats.length+'</span>'"
          >
            <slide>
              <v-col cols="12" md="12">
                <v-card
                  class="px-5 py-3 mt-1 pb-3 rounded-xl"
                >
                  <v-card-title class="pr-0 pl-0 pt-1">
                    <template>
                      <v-tabs
                        v-model="tab1"
                        height="35"
                        slider-size="4"
                      >
                        <v-tabs-slider color="primary"></v-tabs-slider>

                        <v-tab key="1" class="text-none">Assuré</v-tab>
                        <v-tab key="2" class="text-none">Conducteur</v-tab>
                      </v-tabs>
                    </template>
                    <div class="tag-title">Partie 1</div>
                  </v-card-title>
                  <v-row
                    align="center"
                    justify="start"
                  >
                    <v-col
                      cols="12"
                      class="px-0"
                    >
                      <vuescroll>
                        <v-tabs-items class="b-tabs-items" v-model="tab1">
                          <v-tab-item key="1">
                            <v-row class="mx-0">
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Nom :</span> <span> <b>{{ dossier.assures[0].nom }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Prénom :</span> <span> <b>{{ dossier.assures[0].prenom }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Adresse :</span> <span> <b>{{ dossier.assures[0].adresse }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Téléphone :</span> <span> <b>{{ dossier.assures[0].telephone }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Sté d'assurance :</span> <span> <b>{{ dossier.assures[0].assurance.nom }} ({{ dossier.assures[0].ste_assurance }})</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>N° attestation :</span> <span> <b>{{ dossier.assures[0].n_attestation }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                            <span class="bloc-infos d-flex td no-border">
                              <span>Validité police assurance :</span>
                              <span>du <b>{{ $moment(dossier.assures[0].attes_valide_du).format('DD/MM/YYYY') }}</b> au <b>{{ $moment(dossier.assures[0].attes_valide_au).format('DD/MM/YYYY') }}</b></span>
                            </span>
                              </v-col>
                            </v-row>
                          </v-tab-item>
                          <v-tab-item key="2">
                            <v-row class="mx-0">
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Nom :</span> <span> <b>{{ dossier.conducteurs[0].nom }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Prénom :</span> <span> <b>{{ dossier.conducteurs[0].prenom }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Adresse :</span> <span> <b>{{ dossier.conducteurs[0].adresse }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>N° de permis de conduire :</span> <span> <b>{{ dossier.conducteurs[0].num_permis }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Date de délivrance :</span> <span> <b>{{ $moment(dossier.conducteurs[0].date_delivrance).format('DD/MM/YYYY') }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Préfecture de délivrance :</span> <span> <b>{{ dossier.conducteurs[0].prefecture_delivrance }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                            <span class="bloc-infos d-flex td no-border">
                              <span>Validité :</span>
                              <span><b>{{ $moment(dossier.conducteurs[0].delai_validite).format('DD/MM/YYYY') }}</b></span>
                            </span>
                              </v-col>
                            </v-row>
                          </v-tab-item>
                        </v-tabs-items>
                      </vuescroll>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </slide>
            <slide>
              <v-col cols="12" md="12">
                <v-card
                  class="px-5 py-3 mt-1 pb-3 rounded-xl"
                >
                  <v-card-title class="pr-0 pl-0 pt-1">
                    <template>
                      <v-tabs
                        v-model="tab2"
                        height="35"
                        slider-size="4"
                      >
                        <v-tabs-slider color="primary"></v-tabs-slider>

                        <v-tab key="1" class="text-none">Assuré</v-tab>
                        <v-tab key="2" class="text-none">Conducteur</v-tab>
                      </v-tabs>
                    </template>
                    <div class="tag-title">Partie 2</div>
                  </v-card-title>
                  <v-row
                    align="center"
                    justify="start"
                  >
                    <v-col
                      cols="12"
                      class="px-0"
                    >
                      <vuescroll>
                        <v-tabs-items class="b-tabs-items" v-model="tab2">
                          <v-tab-item key="1">
                            <v-row class="mx-0">
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Nom</span> <span> <b>{{ dossier.assures[1].nom }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Prénom</span> <span> <b>{{ dossier.assures[1].prenom }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Adresse</span> <span> <b>{{ dossier.assures[1].adresse }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Téléphone</span> <span> <b>{{ dossier.assures[1].telephone }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Sté d'assurance</span> <span> <b
                                  v-if="dossier.assures[1].assurance">{{ dossier.assures[1].assurance.nom }} ({{ dossier.assures[1].ste_assurance }})</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>N° attestation</span> <span> <b>{{ dossier.assures[1].n_attestation }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td no-border">
                                  <span>Validité police assurance</span>
                                  <span>du <b>{{ $moment(dossier.assures[1].attes_valide_du).format('DD/MM/YYYY') }}</b> au <b>{{ $moment(dossier.assures[1].attes_valide_au).format('DD/MM/YYYY') }}</b></span>
                                </span>
                              </v-col>
                            </v-row>
                          </v-tab-item>
                          <v-tab-item key="2">
                            <v-row class="mx-0">
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Nom :</span> <span> <b>{{ dossier.conducteurs[1].nom }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Prénom :</span> <span> <b>{{ dossier.conducteurs[1].prenom }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Adresse :</span> <span> <b>{{ dossier.conducteurs[1].adresse }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>N° de permis de conduire :</span> <span> <b>{{ dossier.conducteurs[1].num_permis }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Date de délivrance :</span> <span> <b>{{ $moment(dossier.conducteurs[1].date_delivrance).format('DD/MM/YYYY') }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                                <span class="bloc-infos d-flex td"><span>Préfecture de délivrance :</span> <span> <b>{{ dossier.conducteurs[1].prefecture_delivrance }}</b></span></span>
                              </v-col>
                              <v-col
                                cols="12"
                                class="pb-0"
                              >
                          <span class="bloc-infos d-flex td no-border">
                            <span>Validité :</span>
                            <span><b>{{ $moment(dossier.conducteurs[1].delai_validite).format('DD/MM/YYYY') }}</b></span>
                          </span>
                              </v-col>
                            </v-row>
                          </v-tab-item>
                        </v-tabs-items>
                      </vuescroll>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </slide>
            <template v-for="(con, i) in dossier.linked_constats">
              <slide>
                <v-col cols="12" md="12">
                  <v-card
                    class="px-5 py-3 mt-1 pb-3 rounded-xl"
                  >
                    <v-card-title class="pr-0 pl-0 pt-1">
                      <template>
                        <v-tabs
                          v-model="tab3"
                          height="35"
                          slider-size="4"
                        >
                          <v-tabs-slider color="primary"></v-tabs-slider>

                          <v-tab key="1" class="text-none">Assuré</v-tab>
                          <v-tab key="2" class="text-none">Conducteur</v-tab>
                        </v-tabs>
                      </template>
                      <div class="tag-title">Partie {{ i+3 }}</div>
                    </v-card-title>
                    <v-row
                      align="center"
                      justify="start"
                    >
                      <v-col
                        cols="12"
                        class="px-0"
                      >
                        <vuescroll>
                          <v-tabs-items class="b-tabs-items" v-model="tab3">
                            <v-tab-item key="1">
                              <v-row class="mx-0">
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Nom</span> <span> <b>{{ con.assures[0].nom }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Prénom</span> <span> <b>{{ con.assures[0].prenom }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Adresse</span> <span> <b>{{ con.assures[0].adresse }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Téléphone</span> <span> <b>{{ con.assures[0].telephone }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                <span class="bloc-infos d-flex td"><span>Sté d'assurance</span> <span> <b
                                  v-if="con.assures[0].assurance">{{ con.assures[0].assurance.nom }} ({{ con.assures[0].ste_assurance }})</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>N° attestation</span> <span> <b>{{ con.assures[0].n_attestation }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                <span class="bloc-infos d-flex td no-border">
                                  <span>Validité police assurance</span>
                                  <span>du <b>{{ $moment(con.assures[0].attes_valide_du).format('DD/MM/YYYY') }}</b> au <b>{{ $moment(con.assures[0].attes_valide_au).format('DD/MM/YYYY') }}</b></span>
                                </span>
                                </v-col>
                              </v-row>
                            </v-tab-item>
                            <v-tab-item key="2">
                              <v-row class="mx-0">
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Nom :</span> <span> <b>{{ con.conducteurs[0].nom }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Prénom :</span> <span> <b>{{ con.conducteurs[0].prenom }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Adresse :</span> <span> <b>{{ con.conducteurs[0].adresse }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>N° de permis de conduire :</span> <span> <b>{{ con.conducteurs[0].num_permis }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Date de délivrance :</span> <span> <b>{{ $moment(con.conducteurs[0].date_delivrance).format('DD/MM/YYYY') }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Préfecture de délivrance :</span> <span> <b>{{ con.conducteurs[0].prefecture_delivrance }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td no-border">
                                    <span>Validité :</span>
                                    <span><b>{{ $moment(con.conducteurs[0].delai_validite).format('DD/MM/YYYY') }}</b></span>
                                  </span>
                                </v-col>
                              </v-row>
                            </v-tab-item>
                          </v-tabs-items>
                        </vuescroll>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-col>
              </slide>

              <slide>
                <v-col cols="12" md="12">
                  <v-card
                    class="px-5 py-3 mt-1 pb-3 rounded-xl"
                  >
                    <v-card-title class="pr-0 pl-0 pt-1">
                      <template>
                        <v-tabs
                          v-model="tab4"
                          height="35"
                          slider-size="4"
                        >
                          <v-tabs-slider color="primary"></v-tabs-slider>

                          <v-tab key="1" class="text-none">Assuré</v-tab>
                          <v-tab key="2" class="text-none">Conducteur</v-tab>
                        </v-tabs>
                      </template>
                      <div class="tag-title">Partie {{ i+4 }}</div>
                    </v-card-title>
                    <v-row
                      align="center"
                      justify="start"
                    >
                      <v-col
                        cols="12"
                        class="px-0"
                      >
                        <vuescroll>
                          <v-tabs-items class="b-tabs-items" v-model="tab4">
                            <v-tab-item key="1">
                              <v-row class="mx-0">
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Nom</span> <span> <b>{{ con.assures[1].nom }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Prénom</span> <span> <b>{{ con.assures[1].prenom }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Adresse</span> <span> <b>{{ con.assures[1].adresse }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Téléphone</span> <span> <b>{{ con.assures[1].telephone }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                <span class="bloc-infos d-flex td"><span>Sté d'assurance</span> <span> <b
                                  v-if="con.assures[1].assurance">{{ con.assures[1].assurance.nom }} ({{ con.assures[1].ste_assurance }})</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>N° attestation</span> <span> <b>{{ con.assures[1].n_attestation }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                <span class="bloc-infos d-flex td no-border">
                                  <span>Validité police assurance</span>
                                  <span>du <b>{{ $moment(con.assures[1].attes_valide_du).format('DD/MM/YYYY') }}</b> au <b>{{ $moment(con.assures[1].attes_valide_au).format('DD/MM/YYYY') }}</b></span>
                                </span>
                                </v-col>
                              </v-row>
                            </v-tab-item>
                            <v-tab-item key="2">
                              <v-row class="mx-0">
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Nom :</span> <span> <b>{{ con.conducteurs[1].nom }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Prénom :</span> <span> <b>{{ con.conducteurs[1].prenom }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Adresse :</span> <span> <b>{{ con.conducteurs[1].adresse }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>N° de permis de conduire :</span> <span> <b>{{ con.conducteurs[1].num_permis }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Date de délivrance :</span> <span> <b>{{ $moment(con.conducteurs[1].date_delivrance).format('DD/MM/YYYY') }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td"><span>Préfecture de délivrance :</span> <span> <b>{{ con.conducteurs[1].prefecture_delivrance }}</b></span></span>
                                </v-col>
                                <v-col
                                  cols="12"
                                  class="pb-0"
                                >
                                  <span class="bloc-infos d-flex td no-border">
                                    <span>Validité :</span>
                                    <span><b>{{ $moment(con.conducteurs[1].delai_validite).format('DD/MM/YYYY') }}</b></span>
                                  </span>
                                </v-col>
                              </v-row>
                            </v-tab-item>
                          </v-tabs-items>
                        </vuescroll>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-col>
              </slide>
            </template>
          </carousel>
        </v-row>

        <v-row
          align="center"
          justify="start"
        >
          <v-col cols="12" md="12">
            <v-card
              class="px-5 py-3 mt-0 rounded-xl"
            >
              <v-card-title class="pr-0 pl-0 pt-1 title-infos">Photos de l'accident</v-card-title>
              <v-row
                align="center"
                justify="start"
              >
                <v-col
                  v-for="(photo,i) in degats"
                  :key="i"
                  cols="12"
                  md="2"
                >
                  <a @click.stop="dialog = true">
                    <v-img
                      :src="photo"
                      :lazy-src="photo"
                      aspect-ratio="1"
                      contain
                    ></v-img>
                  </a>
                </v-col>
              </v-row>
              <v-dialog
                v-model="dialog"
                width="85%"
                :retain-focus="false"
              >
                <v-carousel hide-delimiters height="auto" v-model="carou">
                  <v-carousel-item
                    v-for="(photo,i) in degats"
                    :key="i"
                    :src="photo"
                  ></v-carousel-item>
                </v-carousel>
              </v-dialog>
            </v-card>
          </v-col>
        </v-row>

        <v-row
          align="center"
          justify="start"
        >
          <v-col cols="12" md="12">
            <v-card
              class="px-5 py-3 mt-0 rounded-xl"
            >
              <v-card-title class="pr-0 pl-0 pt-1 title-infos">E-constat</v-card-title>
              <v-row
                align="center"
                justify="start"
              >
                <v-col v-if="dossier.recap"
                       key="0"
                       cols="12"
                       md="2"
                >
                  <template>
                    <v-hover v-slot="{ hover }">
                      <div @click="" class="bloc-pdf" :class="{ 'on-hover': hover }">
                        <a
                          v-bind:href="getPdf(dossier.code, dossier.id_constat)"
                          target="_blank"
                        >
                          <pdf
                            :src="getPdf(dossier.code, dossier.id_constat)"
                            @num-pages="pageCount = $event"
                            @page-loaded="currentPage = $event"
                            ref="pdf1"
                          ></pdf>
                        </a>
                      </div>
                    </v-hover>
                  </template>
                </v-col>
                <v-col
                  v-for="(item, i) in dossier.linked_constats"
                  :key="i + 1"
                  cols="12"
                  md="2"
                >
                  <template v-if="item.recap">
                    <v-hover v-slot="{ hover }">
                      <div @click="" class="bloc-pdf" :class="{ 'on-hover': hover }">
                        <a
                          v-bind:href="getPdf(item.code, item.id_constat)"
                          target="_blank"
                        >
                          <pdf
                            :src="getPdf(item.code, item.id_constat)"
                            @num-pages="pageCount = $event"
                            @page-loaded="currentPage = $event"
                            :ref="'pdf' + i+1"
                          ></pdf>
                        </a>
                      </div>
                    </v-hover>
                  </template>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </v-container>
  </v-layout>
</template>

<script>
  import ConstatService from '../../../services/constat.service'
  import {gmapsMap, gmapsMarker} from 'x5-gmaps'
  import pdf from "vue-pdf"
  import vuescroll from 'vuescroll'
  import {Carousel, Slide} from 'vue-carousel'

  export default {
    middleware: ['auth', 'auth-assurance'],
    components: {gmapsMap, gmapsMarker, pdf, vuescroll, Carousel, Slide},
    layout: 'assurance',
    name: "Details",
    transition: {
      name: 'fade',
      mode: 'out-in'
    },
    data() {
      return {
        loading: true,
        tab1: null,
        tab2: null,
        tab3: null,
        tab4: null,
        position: {lat: 31.7858371, lng: -9.3940577},
        mapOptions: {
          center: {lat: 31.7858371, lng: -9.3940577},
          zoom: 8,
          zoomControl: false,
          fullscreenControl: true
        },
        currentPage: 0,
        pageCount: 0,
        dossier: null,
        validate: 0,
        snackbar: false,
        timeout: 2000,
        degats: [],
        dialog: false,
        carou: 0,
        carouLinkedConstats: 0
      }
    },
    created() {
      /*if(this.$route.params.constat)
        this.dossier = this.$route.params.constat
      else this.getConstat(this.$route.params.id)*/
      this.getConstat(this.$route.params.id)
      if (this.dossier) {
        this.validate = this.dossier.etat == 'FINISHED' ? 1 : 0
      }

    },
    mounted() {

    },
    computed: {},
    watch: {},
    methods: {
      getConstat(id_constat) {
        ConstatService.getDossier(id_constat, 'assu').then(
          res => {
            this.dossier = res.data.payload
            this.getPhotos()
            if (this.dossier.linked_constats) {
              let elems = document.querySelector('.VueCarousel-navigation')
              console.log(elems)
            }

            this.loading = true
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
            console.log(this.message)
          }
        )
      },
      getImage(path, name) {
        return process.env.APP_STORAGE + path + name
      },
      verifyFile(id_constat, verify) {
        verify = false
        ConstatService.check_file(id_constat).then(
          res => {
            verify = res.data.payload.exist
            this.loading = true
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
            console.log(this.message)
            verify = false
          }
        )
        return verify
      },
      getPdf(code, id_constat) {
        let name = code + '-' + id_constat + '.pdf'
        return process.env.APP_STORAGE + '/cdn/recap/constat-' + name
      },
      getPhotos() {
        let list_images = []
        if (this.dossier.workflow.photos) {
          JSON.parse(this.dossier.workflow.photos).forEach(elem => list_images.push(process.env.APP_STORAGE + '/cdn/constateurs/degats/' + this.dossier.id_constat + '/' + elem))
          this.degats = list_images
        }
      }
    }
  }
</script>

<style>
  .flex-none {
    flex: none;
  }

  .mapper {
    height: 160px;
    width: 100%;
  }

  .bloc-pdf {
    transition: opacity .4s ease-in-out;
  }

  .bloc-pdf:not(.on-hover) {
    opacity: 0.6;
  }

  .show-btns {
    color: rgba(170, 34, 50, 1) !important;
  }

  .VueCarousel-navigation .VueCarousel-navigation-button {
    top: unset;
    bottom: 14px;
    background: rgba(170, 34, 50, 1);
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    height: 36px;
    width: 36px;
    line-height: 15px;
    padding: 0 !important;
  }

  .VueCarousel-navigation .VueCarousel-navigation-button span {
    color: #fff;
    background: #000;
    border-radius: 30px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    right: -3px;
  }

  .VueCarousel-navigation .VueCarousel-navigation-next {
    right: 55px;
  }

  .VueCarousel-navigation .VueCarousel-navigation-prev {
    left: 55px;
  }

  .VueCarousel-navigation--disabled {
    display: none;
  }
</style>
