<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-layout>
    <v-container
      id="list-dossiers"
      fluid
    >
      <h1>Gestion de dossiers</h1>

      <v-card
        class="px-5 py-3 rounded-xl"
      >
        <v-card-title class="pr-0 pl-0 pt-1"><v-icon color="primary">mdi-filter</v-icon> Filtrer par</v-card-title>
        <v-card-text>
          <v-row
            align="center"
            justify="start"
          >
            <v-col cols="12" md="10">
              <v-row
                align="center"
                justify="start"
              >
                <v-col cols="12" md="3">
                  <v-text-field
                    ref="filter.code"
                    v-model="filter.code"
                    full-width
                    hide-details
                    filled dense
                    label="N° du dossier"
                    prepend-inner-icon="mdi-information-outline"
                    class="rounded-xl bb-0"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="3">
                  <v-text-field
                    ref="filter.num_immatriculation"
                    v-model="filter.num_immatriculation"
                    full-width
                    hide-details
                    filled dense
                    label="N° d'immatriculation"
                    prepend-inner-icon="mdi-information-outline"
                    class="rounded-xl bb-0"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="3">
                  <v-dialog
                    ref="dialog"
                    v-model="modal"
                    :return-value.sync="filter.date_etablissement"
                    persistent
                    width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="dateRangeText"
                        full-width
                        hide-details
                        filled dense
                        label="Période"
                        prepend-inner-icon="mdi-calendar-month"
                        class="rounded-xl bb-0"
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="filter.date_etablissement"
                      scrollable range
                    >
                      <v-spacer></v-spacer>
                      <v-btn
                        text
                        color="primary"
                        @click="modal = false"
                      >
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.dialog.save(filter.date_etablissement)"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
                <v-col cols="12" md="3">
                  <v-text-field
                    ref="filter.ville"
                    v-model="filter.ville"
                    full-width
                    hide-details
                    filled dense
                    label="Ville"
                    prepend-inner-icon="mdi-city"
                    class="rounded-xl bb-0"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>

            <v-col cols="12" md="2">
              <v-row
                align="center"
                justify="start"
              >
                <v-col cols="12" md="12">
                  <v-btn
                    full-width filled
                    dense width="100%" color="primary"
                    @click="applyFilter()"
                    prepend-inner-icon="mdi-account"
                    class="rounded-xl bb-0 d-flex"
                  >Filtrer</v-btn>
                </v-col>
              </v-row>
            </v-col>

            <!--<v-col
              cols="2"
            >
              <v-autocomplete
                v-model="selectedPrestataire"
                :loading="loadingSearch"
                :items="itemsSearch"
                :search-input.sync="search"
                :filter="customFilter"
                item-text="nom"
                item-value="id_constateur"
                hide-no-data return-object
                append-icon=""
                full-width hide-details
                filled dense
                cache-items single-line
                label="Prestataire"
                prepend-inner-icon="mdi-account"
                class="rounded-xl bb-0"
              >
                <template v-slot:selection="{ attr, on, item, selected }">
                  <span class="d-block" color="black" v-text="item.name"></span>
                </template>
                <template v-slot:item="data">
                  <v-list-item-avatar class="mt-0 mb-0">
                    <v-icon large dark color="primary">
                      mdi-account-circle
                    </v-icon>
                  </v-list-item-avatar>
                  <v-list-item-content v-text="data.item.name"></v-list-item-content>
                </template>
              </v-autocomplete>
            </v-col>-->
          </v-row>
        </v-card-text>
      </v-card>

      <v-toolbar flat color="transparent" height="50" class="flex-row-reverse top-toolbar mt-7">
        <v-toolbar-title><h2>Liste des dossiers</h2></v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn
          filled dense small
          dark depressed
          elevation="7"
          color="white" height="32"
          class="rounded-xl black--text ml-3 mb-0"
          @click=""
        >
          <v-icon dark color="primary" size="18" class="mr-2">mdi-content-copy</v-icon>
          Copy
        </v-btn>
        <v-btn
          filled dense small
          dark depressed
          elevation="7"
          color="white" height="32"
          class="rounded-xl ml-3 mb-0"
          @click=""
        >
          <v-icon dark color="primary" size="18" class="mr-2">mdi-printer</v-icon>
          Print
        </v-btn>
        <v-btn
          filled dense small
          dark depressed
          elevation="7"
          color="white" height="32"
          class="rounded-xl ml-3 mb-0"
          :loading="loading3"
          :disabled="loading3"
          @click="loader = 'loading3'"
        >
          <v-icon dark size="18" color="primary" class="mr-2">mdi-download</v-icon>
          Csv
        </v-btn>
      </v-toolbar>

      <v-data-table
        :headers="headers"
        :items="dossiers"
        :items-per-page="5"
        :page.sync="page"
        hide-default-header
        hide-default-footer
        @page-count="pageCount = $event"
        class="dark-actions double-table"
      >
        <template v-slot:item="{ item }">
          <tr @click.prevent="storeDossier(item)">
            <td class="pl-4">
              <table>
                <tbody>
                  <tr rowspan="2">
                    <td class="double-rows flex-row flex-wrap">
                      <v-icon
                        dark left large
                        class="mx-0"
                        color="primary"
                      >
                        mdi-folder-open
                      </v-icon>
                      <span class="title-td text-center">N° dossier<br><b>{{ item.code }}</b></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>

            <td>
              <table>
                <tbody>
                  <tr>
                    <td class="no-before">
                      <v-icon
                        dark
                        left
                        color="primary"
                      >
                        mdi-account
                      </v-icon>
                      <span class="title-td d-inline-block">Assuré<br>
                          <b v-if="item.assures.length">{{ item.assures[0].nom ? item.assures[0].nom : '' }} {{ item.assures[0].prenom ? item.assures[0].prenom : '' }}</b>
                          <b v-else>--</b>
                        </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="no-before">
                      <v-icon
                        dark
                        left
                        color="primary"
                      >
                        mdi-file-document
                      </v-icon>
                      <span class="title-td d-inline-block">N° de contrat<br><b>{{ item.num_contrat }}</b></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>

            <td>
              <table>
                <tbody>
                  <tr>
                    <td>
                      <v-icon
                        dark
                        left
                        color="primary"
                      >
                        mdi-phone
                      </v-icon>
                      <span class="title-td d-inline-block">Numéro de téléphone<br>
                        <b v-if="item.assures.length">{{ item.assures[0].telephone ? item.assures[0].telephone : '--' }}</b>
                        <b v-else>--</b>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <v-icon
                        dark
                        left
                        color="primary"
                      >
                        mdi-car-side
                      </v-icon>
                      <span class="title-td d-inline-block">Marque de véhicule<br>
                        <b v-if="item.vehicules.length">{{ item.vehicules[0].marque ? item.vehicules[0].marque : '--' }}</b>
                        <b v-else>--</b>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>

            <td>
              <table>
                <tbody>
                  <tr>
                    <td>
                      <v-icon
                        dark
                        left
                        color="primary"
                      >
                        mdi-city
                      </v-icon>
                      <span class="title-td d-inline-block">Ville<br>
                        <b v-if="item.workflow">{{ item.workflow.ville ? item.workflow.ville : '--' }}</b>
                        <b v-else>--</b>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <v-icon
                        dark
                        left
                        color="primary"
                      >
                        mdi-car-info
                      </v-icon>
                      <span class="title-td d-inline-block">Immatriculation<br>
                        <b v-if="item.vehicules.length">{{ item.vehicules[0].num_immatriculation ? item.vehicules[0].num_immatriculation : '--' }}</b>
                        <b v-else>--</b>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>

            <td>
              <table>
                <tbody>
                <tr>
                  <td>
                    <v-icon
                      dark
                      left
                      color="primary"
                    >
                      mdi-map-marker
                    </v-icon>
                    <span class="title-td d-inline-block">Quartier<br><b>{{ item.workflow ? item.workflow.lieu : '--' }}</b></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <v-icon
                      dark
                      left
                      color="primary"
                    >
                      mdi-office-building
                    </v-icon>
                    <span class="title-td d-inline-block">Prestataire<br>
                        <b v-if="item.constateur">{{ item.constateur.prestataire.name ? item.constateur.prestataire.name : '--' }}</b>
                        <b v-else>--</b>
                      </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>

            <td class="pr-4">
              <table>
                <tbody>
                <tr>
                  <td>
                    <v-icon
                      dark
                      left
                      color="primary"
                    >
                      mdi-calendar-month-outline
                    </v-icon>
                    <span class="title-td d-inline-block">Date de sinistre<br>
                        <b v-if="item.workflow">{{ item.workflow.date_etablissement ? $moment(item.workflow.date_etablissement).format('DD/MM/YYYY') : '--' }}</b>
                        <b v-else>--</b>
                      </span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <v-icon
                      dark
                      left
                      color="primary"
                    >
                      mdi-paperclip
                    </v-icon>
                    <span class="title-td d-inline-block">
                      Pièces jointes<br>
                      <b class="mr-2" v-if="item.workflow">({{ item.workflow.photos ? JSON.parse(item.workflow.photos).length : 0 }})</b>
                      <b class="mr-2" v-else>(0)</b>
                      <template v-if="item.workflow.photos">
                        <v-dialog
                          v-model="dialog"
                          width="85%"
                          :retain-focus="false"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-icon
                              dark left
                              color="primary"
                              v-bind="attrs"
                              v-on="on"
                              class="show"
                              @click="getPhoto(item.id_constat, JSON.parse(item.workflow.photos))"
                            >mdi-eye</v-icon>
                          </template>
                          <v-carousel hide-delimiters height="auto">
                            <v-carousel-item
                              v-for="(photo,i) in degats"
                              :key="i"
                              :src="photo"
                            ></v-carousel-item>
                          </v-carousel>
                        </v-dialog>

                        <v-icon
                          dark left
                          color="primary" class="download"
                          @click="downloadPhotos(item.id_constat, JSON.parse(item.workflow.photos))"
                        >mdi-download</v-icon>
                      </template>

                      <template v-else>
                        <v-icon
                          dark left
                          color="primary"
                          class="show"
                        >mdi-eye</v-icon>
                        <v-icon
                          dark left
                          color="primary" class="download"
                        >mdi-download</v-icon>
                      </template>
                    </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>

            <td class="actions">
              <nuxt-link
                :to="{ name: 'details-dossier-assurance', params: { id: item.id_constat, constat: item } }"
              >
                <v-icon
                  dark
                  color="white"
                >
                  mdi-chevron-right
                </v-icon>
              </nuxt-link>
            </td>
          </tr>
        </template>
      </v-data-table>
      <v-pagination
        v-model="page"
        :length="pageCount"
        :total-visible="5"
      ></v-pagination>
    </v-container>
  </v-layout>
</template>

<script>
  import ConstatService from '../../../services/constat.service'

  export default {
    middleware: ['auth', 'auth-assurance'],
    layout: 'assurance',
    name: "List",
    transition: {
      name: 'fade',
      mode: 'out-in'
    },
    data: function () {
      return {
        loading: true,
        page: 1,
        pageCount: 0,
        search: '',
        dialog: false,
        dossiers: [],
        degats: [],
        selectedPrestataire:[],
        headers: [
          {
            sortable: true,
            text: 'ID',
            value: 'id_constat',
          },
          {
            sortable: true,
            text: 'Agent',
            value: 'constateur',
          },
          {
            sortable: true,
            text: 'Heure de missionnement',
            value: 'heure_etablissement',
          },
          {
            sortable: false,
            text: 'Ville',
            value: 'ville',
          },
          {
            sortable: false,
            text: 'Quartier',
            value: 'lieu',
          },
          {
            sortable: false,
            text: 'Pièces jointes',
            value: 'photos',
          },
          {
            text: 'Actions',
            value: 'actions',
            sortable: false
          }
        ],
        filter: {
          code: '',
          num_immatriculation: '',
          date_etablissement: [],
          ville: '',
          constateur: ''
        },
        modal: false,
        appliedFilter: null,
        loadingSearch: false,
        itemsSearch: [],
        select: null,
        constateur: '',
        loading3: false,
        loader: null
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New User' : 'Edit User'
      },
      dateRangeText () {
        return this.filter.date_etablissement.join(' ~ ')
      }
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
      loader () {
        const l = this.loader
        this[l] = !this[l]
        setTimeout(() => (this[l] = false), 3000)
        this.loader = null
      },
      search(val) {
        val && val !== this.select && this.querySelections(val)
      }
    },
    created () {
      this.getAllDossiers()
    },
    methods: {
      customFilter(item, queryText, itemText) {
        const textOne = item.name.toLowerCase()
        const searchText = queryText.toLowerCase()

        return textOne.indexOf(searchText) > -1
      },
      querySelections(v) {
        this.loadingSearch = true
        // Simulated ajax query
        setTimeout(() => {
          let prestataires = []
          this.dossiers.forEach(function (elem) {
            var index = prestataires.findIndex(x => x.name == elem.constateur.prestataire.name)
            if(index === -1) prestataires.push(elem.constateur.prestataire)
          })
          let filterAgents = prestataires.filter(e => {
            if ((e.name).toLowerCase().indexOf((v || '').toLowerCase()) > -1) return e
            else return null
          })
          filterAgents.forEach(elem => this.itemsSearch.push(elem))
          const filteredArr = this.itemsSearch.reduce((acc, current) => {
            const x = acc.find(item => item.id_prestataire === current.id_prestataire);
            if (!x) {
              return acc.concat([current]);
            } else {
              return acc;
            }
          }, []);
          this.itemsSearch = filteredArr
          this.loadingSearch = false
        }, 500)
      },
      applyFilter() {
        this.appliedFilter = {...this.filter}
        if(this.selectedPrestataire) this.appliedFilter.prestataire = this.selectedPrestataire.id_prestataire
        ConstatService.searchAssurance(this.appliedFilter).then(
          res => {
            this.dossiers = res.data.payload
            this.loading = false
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
            console.log(this.message)
          }
        );
      },
      getAllDossiers() {
        //console.log(this.$store.state.auth.user)
        ConstatService.getAssuranceDossiers().then(
          res => {
            this.dossiers = res.data.payload
            this.loading = false
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
            console.log(this.message)
          }
        );
      },
      getPhoto: function (id, phots) {
        let listPhotos=[]
        if(phots) {
          phots.forEach(elem => listPhotos.push(process.env.APP_STORAGE + '/cdn/constateurs/degats/' + id + '/' + elem))
          this.degats = listPhotos
        }
      },
      downloadPhotos(id, phots){
        phots.forEach((elem)=>{
          this.$axios({
            url: 'assu/dossier/download/'+ id ,
            method: 'POST',
            responseType: 'blob',
            data :{
              elem:elem
            },
          }).then((response) => {
            var fileURL = window.URL.createObjectURL(new Blob([response.data]))
            var fileLink = document.createElement('a')
            fileLink.href = fileURL
            fileLink.setAttribute('download', elem)
            document.body.appendChild(fileLink)
            fileLink.click()
          });
        })
      },
      close: function () {
        this.dialog = false
        this.$nextTick(() => {
            this.editedItem = Object.assign({}, this.defaultItem)
            this.editedIndex = -1
        })
      },
      save () {
        if (this.editedIndex > -1) {
          let id_user = this.users[this.editedIndex].id
          this.$axios.post(`bo/user/update/${id_user}`, this.editedItem).then(
            res => {
              Object.assign(this.users[this.editedIndex], this.editedItem)
              this.close()
            },
            error => {
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
        } else {
          this.$axios.post('bo/user/create', this.editedItem).then(
            res => {
              this.users.push(res.data.payload)
              this.close()
            },
            error => {
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
        }
      },

      storeDossier(constat) {
        this.$store.dispatch('dossier/setDossierInfos', constat)
      }
    }
  }
</script>

<style scoped>
  .flex-none {
    flex: none;
  }
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
