<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-layout class="dashboard">
    <v-flex>
      <h1>Tableau de bord</h1>
      <v-row>
        <v-col
          cols="12"
          lg="4"
        >
          <base-material-chart-card
            :data="constatsMonthChart.data"
            :options="constatsMonthChart.options"
            :responsive-options="constatsMonthChart.responsiveOptions"
            color="#E91E63"
            hover-reveal
            type="Bar"
          >
            <template v-slot:reveal-actions>
              <v-tooltip bottom>
                <template v-slot:activator="{ attrs, on }">
                  <v-btn
                    v-bind="attrs"
                    color="info"
                    icon
                    v-on="on"
                  >
                    <v-icon
                      color="info"
                    >
                      mdi-refresh
                    </v-icon>
                  </v-btn>
                </template>

                <span>Refresh</span>
              </v-tooltip>

              <v-tooltip bottom>
                <template v-slot:activator="{ attrs, on }">
                  <v-btn
                    v-bind="attrs"
                    light
                    icon
                    v-on="on"
                  >
                    <v-icon>mdi-pencil</v-icon>
                  </v-btn>
                </template>

                <span>Change Date</span>
              </v-tooltip>
            </template>

            <h4 class="card-title font-weight-light mt-2 ml-2">
              Dossiers
            </h4>

            <p class="d-inline-flex font-weight-light ml-2 mt-1">
              Performance de dernières constats
            </p>

            <template v-slot:actions>
              <v-icon
                class="mr-1"
                small
              >
                mdi-clock-outline
              </v-icon>
              <span class="caption grey--text font-weight-light">updated 10 minutes ago</span>
            </template>
          </base-material-chart-card>
        </v-col>
        <v-col
          cols="12"
          lg="4"
        >
          <base-material-chart-card
            :data="dailyConstatsChart.data"
            :options="dailyConstatsChart.options"
            :responsive-options="dailyConstatsChart.responsiveOptions"
            color="info"
            hover-reveal
            type="Line"
          >
            <template v-slot:reveal-actions>
              <v-tooltip bottom>
                <template v-slot:activator="{ attrs, on }">
                  <v-btn
                    v-bind="attrs"
                    color="info"
                    icon
                    v-on="on"
                  >
                    <v-icon
                      color="info"
                    >
                      mdi-refresh
                    </v-icon>
                  </v-btn>
                </template>

                <span>Refresh</span>
              </v-tooltip>

              <v-tooltip bottom>
                <template v-slot:activator="{ attrs, on }">
                  <v-btn
                    v-bind="attrs"
                    light
                    icon
                    v-on="on"
                  >
                    <v-icon>mdi-pencil</v-icon>
                  </v-btn>
                </template>

                <span>Change Date</span>
              </v-tooltip>
            </template>

            <h4 class="card-title font-weight-light mt-2 ml-2">
              Dossiers Quotidien
            </h4>

            <p class="d-inline-flex font-weight-light ml-2 mt-1">
              <v-icon
                color="green"
                small
              >
                mdi-arrow-up
              </v-icon>
              <!--<span class="green--text">55%</span>&nbsp;-->
              Les dossiers par jours
            </p>

            <template v-slot:actions>
              <v-icon
                class="mr-1"
                small
              >
                mdi-clock-outline
              </v-icon>
              <span class="caption grey--text font-weight-light">updated 4 minutes ago</span>
            </template>
          </base-material-chart-card>
        </v-col>

        <v-col
          cols="12"
          lg="4"
        >
          <base-material-chart-card
            :data="dataValidateConstatsChart.data"
            :options="dataValidateConstatsChart.options"
            :responsive-options="dataValidateConstatsChart.responsiveOptions"
            hover-reveal
            color="success"
            type="Line"
          >
            <template v-slot:reveal-actions>
              <v-tooltip bottom>
                <template v-slot:activator="{ attrs, on }">
                  <v-btn
                    v-bind="attrs"
                    color="info"
                    icon
                    v-on="on"
                  >
                    <v-icon
                      color="info"
                    >
                      mdi-refresh
                    </v-icon>
                  </v-btn>
                </template>

                <span>Refresh</span>
              </v-tooltip>

              <v-tooltip bottom>
                <template v-slot:activator="{ attrs, on }">
                  <v-btn
                    v-bind="attrs"
                    light
                    icon
                    v-on="on"
                  >
                    <v-icon>mdi-pencil</v-icon>
                  </v-btn>
                </template>

                <span>Change Date</span>
              </v-tooltip>
            </template>

            <h3 class="card-title font-weight-light mt-2 ml-2">
              Dossiers validés
            </h3>

            <p class="d-inline-flex font-weight-light ml-2 mt-1">
              Performance des dernières constats validées
            </p>

            <template v-slot:actions>
              <v-icon
                class="mr-1"
                small
              >
                mdi-clock-outline
              </v-icon>
              <span class="caption grey--text font-weight-light">updated 3 minutes ago</span>
            </template>
          </base-material-chart-card>
        </v-col>
        <v-col
          cols="12"
          sm="6"
          lg="3"
        >
          <base-material-stats-card
            color="info"
            icon="mdi-folder-open"
            title="Dossiers"
            :value="statistics.constats_totale ? '+'.concat(statistics.constats_totale[0].nombre_constats) : '0'"
            sub-icon="mdi-clock"
            sub-text="MAJ récement"
          />
        </v-col>

        <v-col
          cols="12"
          sm="6"
          lg="3"
        >
          <base-material-stats-card
            color="success"
            icon="mdi-book-check-outline"
            title="Dossiers validés"
            :value="getTotalStatus('FINISHED')"
            sub-icon="mdi-clock"
            sub-text="MAJ récement"
          />
        </v-col>

        <v-col
          cols="12"
          sm="6"
          lg="3"
        >
          <base-material-stats-card
            color="red"
            icon="mdi-book-cancel-outline"
            title="Dossiers annulés"
            :value="getTotalStatus('CANCELED')"
            sub-icon="mdi-clock"
            sub-text="MAJ récement"
          />
        </v-col>

        <v-col
          cols="12"
          sm="6"
          lg="3"
        >
          <base-material-stats-card
            color="orange"
            icon="mdi-book-edit-outline"
            title="Dossiers en cours"
            :value="getTotalStatus('IN_PROGRESS')"
            sub-icon="mdi-clock"
            sub-text="MAJ récement"
          />
        </v-col>

        <v-col
          cols="12"
          md="8"
        >
          <base-material-card
            color="warning"
            class="px-5 py-3"
            icon="mdi-chart-timeline-variant"
          >
            <v-card-actions
              class="actions-abs"
            >
              <v-row
                align="end"
                class="flex-row-reverse"
              >
                <v-btn-toggle
                  v-model="toggle_none"
                  dense
                  background-color="primary"
                  dark
                >
                  <v-btn
                    v-for="(option, index) in bigLineChartCategories"
                    :key="option.title"
                    color="primary"
                    @click="initBigChart(index, option.type)"
                    :class="{outlined:bigLineChart.activeIndex === index}"
                  >
                    {{ option.title }}
                  </v-btn>
                </v-btn-toggle>
              </v-row>
            </v-card-actions>
            <v-card-text>
              <line-chart
                class="chart-area"
                ref="bigChart"
                chart-id="big-line-chart"
                :chart-data="bigLineChart.chartData"
                :gradient-colors="bigLineChart.gradientColors"
                :gradient-stops="bigLineChart.gradientStops"
                :extra-options="bigLineChart.extraOptions">
              </line-chart>
            </v-card-text>
          </base-material-card>
        </v-col>
        <v-col
          cols="12"
          md="4"
        >
          <base-material-card
            color="orange"
            icon="mdi-chart-donut-variant"
            class="px-5 py-3"
          >

            <v-card-text>
              <doughnut-chart
                v-if="loaded"
                class="chart-area"
                ref="usagesChart"
                chart-id="usage-doughnut-chart"
                :chart-data="typeUsageChart.chartData"
                :extra-options="typeUsageChart.extraOptions">
              </doughnut-chart>
            </v-card-text>
          </base-material-card>
        </v-col>
        <v-col
          cols="12"
          md="12"
        >
          <base-material-card
            color="orange"
            icon="mdi-poll"
            title="Dossiers par ville"
            class="px-5 py-3"
          >

            <v-card-text>
              <bar-chart
                v-if="loaded"
                class="chart-area"
                ref="villesChart"
                chart-id="blue-bar-chart"
                :chart-data="cityBarChart.chartData"
                :gradient-stops="cityBarChart.gradientStops"
                :extra-options="cityBarChart.extraOptions">
              </bar-chart>
            </v-card-text>
          </base-material-card>
        </v-col>
        <v-col
          cols="12"
          md="12"
        >
          <base-material-card
            color="orange"
            icon="mdi-poll"
            title="Dossiers par quartier"
            class="px-5 py-3"
          >
            <v-card-text>
              <bar-chart
                v-if="loaded"
                class="chart-area"
                ref="quertiersChart"
                chart-id="blue-bar-chart"
                :chart-data="quartierBarChart.chartData"
                :gradient-stops="quartierBarChart.gradientStops"
                :extra-options="quartierBarChart.extraOptions">
              </bar-chart>
            </v-card-text>
          </base-material-card>
        </v-col>
        <v-col
          cols="12"
          md="12"
        >
          <base-material-card
            color="warning"
            class="px-5 py-3"
          >
            <template v-slot:heading>
              <div class="display-2 font-weight-light">
                Dossiers
              </div>

              <div class="subtitle-1 font-weight-light">
                Les nouveaux dossiers
              </div>
            </template>
            <v-card-text>
              <v-data-table
                class="dash-table"
                :headers="headers"
                :items="dossiers"
                hide-default-footer
                @click:row="detailsDossier"
              >
                <template v-slot:item.constateur="{ item }">
                  {{ item.constateur.nom }} {{ item.constateur.prenom }}
                </template>
                <template v-slot:item.date_etablissement="{ item }">
                  <v-chip color="success" dark>{{ $moment(item.workflow.date_etablissement).format('dddd, Do MMMM YYYY')
                    }}
                  </v-chip>
                </template>
                <template v-slot:item.heure_etablissement="{ item }">
                  {{ item.workflow.heure_etablissement }}
                </template>
                <template v-slot:item.ville="{ item }">
                  {{ item.workflow.ville }}
                </template>
                <template v-slot:item.lieu="{ item }">
                  {{ item.workflow.lieu }}
                </template>
                <template v-slot:item.etat="{ item }">
                  <v-chip
                    :color="getStatus(item.etat)"
                    dark
                  >
                    {{ item.etat }}
                  </v-chip>
                </template>
              </v-data-table>
            </v-card-text>
          </base-material-card>
        </v-col>
      </v-row>
    </v-flex>
  </v-layout>
</template>

<script>
  import AssitanceStatisticService from '../../services/statistiqueAssi.service'
  import ConstatService from '../../services/constat.service'

  // Charts
  import LineChart from '@/components/Charts/LineChart'
  import BarChart from '@/components/Charts/BarChart'
  import DoughnutChart from '@/components/Charts/DoughnutChart'
  import * as chartConfigs from '@/components/Charts/config'

  import randomColor from 'randomcolor'

  export default {
    middleware: ['auth', 'auth-assistance'],
    name: "dashboard-assistance",
    layout: 'assistance',
    transition: {
      name: 'fade',
      mode: 'out-in'
    },
    components: {
      LineChart,
      BarChart,
      DoughnutChart
    },
    data() {
      return {
        toggle_none: null,
        statistics: {
          count_constats: 0,
          validate_constats_per_status: [
            {total: 0, status: 'CREATED'},
            {total: 0, status: 'IN_PROGRESS'},
            {total: 0, status: 'FINISHED'}
          ],
          constats_per_status: [
            {total: 0, status: 'CREATED'},
            {total: 0, status: 'IN_PROGRESS'},
            {total: 0, status: 'FINISHED'}
          ]
        },
        constatsMonthChart: {
          data: {
            labels: ['Ja', 'Fe', 'Ma', 'Ap', 'Mai', 'Ju', 'Jul', 'Au', 'Se', 'Oc', 'No', 'De'],
            series: [
              [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            ],
          },
          options: {
            axisX: {
              showGrid: false,
            },
            low: 0,
            divisor: 2,
            //type: 'AutoScaleAxis',
            chartPadding: {
              top: 0,
              right: 3,
              bottom: 0,
              left: 0,
            },
          },
          responsiveOptions: [
            ['screen and (max-width: 640px)', {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc: function (value) {
                  return value[0]
                },
              },
            }],
          ],
        },
        dailyConstatsChart: {
          data: {
            labels: ['L', 'M', 'M', 'J', 'V', 'S', 'D'],
            series: [
              [14, 80, 44, 75, 63, 17, 90],
            ],
          },
          options: {
            lineSmooth: this.$chartist.Interpolation.cardinal({
              tension: 0,
            }),
            low: 0,
            divisor: 2,
            chartPadding: {
              top: 0,
              right: 3,
              bottom: 0,
              left: 0,
            },
          },
        },
        dataValidateConstatsChart: {
          data: {
            labels: ['L', 'M', 'M', 'J', 'V', 'S', 'D'],
            series: [
              [0, 0, 0, 0, 0, 0, 0],
            ],
          },
          options: {
            lineSmooth: this.$chartist.Interpolation.cardinal({
              tension: 0,
            }),
            low: 0,
            divisor: 2,
            chartPadding: {
              top: 0,
              right: 3,
              bottom: 0,
              left: 0,
            },
          },
        },
        cityBarChart: {
          extraOptions: chartConfigs.barChartOptions,
          chartData: {
            labels: [],
            datasets: [{
              label: "Villes",
              fill: true,
              borderWidth: 0,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [],
            }]
          },
          gradientColors: ['rgba(76, 211, 150, 0.1)', 'rgba(53, 183, 125, 0)', 'rgba(119,52,169,0)'],
          gradientStops: [1, 1, 1],
        },
        quartierBarChart: {
          extraOptions: chartConfigs.barChartOptions,
          chartData: {
            labels: [],
            datasets: [{
              label: "Quartiers",
              fill: true,
              borderWidth: 0,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [],
              backgroundColor: '#dbdbef'
            }]
          },
          gradientColors: ['rgba(76, 211, 150, 0.1)', 'rgba(53, 183, 125, 0)', 'rgba(119,52,169,0)'],
          gradientStops: [1, 1, 1],
        },
        headers: [
          {
            sortable: true,
            text: 'N° dossier',
            value: 'code',
          },
          {
            sortable: true,
            text: 'Agent',
            value: 'constateur',
          },
          {
            sortable: true,
            text: 'Date de missionnement',
            value: 'date_etablissement',
          },
          {
            sortable: true,
            text: 'Heure de missionnement',
            value: 'heure_etablissement',
          },
          {
            sortable: false,
            text: 'Ville',
            value: 'ville',
          },
          {
            sortable: false,
            text: 'Quartier',
            value: 'lieu',
          },
          {text: 'Status', value: 'etat', sortable: false}
        ],
        dossiers: [],
        tabs: 0,
        tasks: {
          0: [
            {
              text: 'Sign contract for "What are conference organizers afraid of?"',
              value: true,
            },
            {
              text: 'Lines From Great Russian Literature? Or E-mails From My Boss?',
              value: false,
            },
            {
              text: 'Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit',
              value: false,
            },
            {
              text: 'Create 4 Invisible User Experiences you Never Knew About',
              value: true,
            },
          ],
          1: [
            {
              text: 'Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit',
              value: true,
            },
            {
              text: 'Sign contract for "What are conference organizers afraid of?"',
              value: false,
            },
          ],
          2: [
            {
              text: 'Lines From Great Russian Literature? Or E-mails From My Boss?',
              value: false,
            },
            {
              text: 'Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit',
              value: true,
            },
            {
              text: 'Sign contract for "What are conference organizers afraid of?"',
              value: true,
            },
          ],
        },
        list: {
          0: false,
          1: false,
          2: false,
        },
        loaded: false,
        bigLineChartCategories: [
          {type: "s", title: "Semaine"},
          {type: "m", title: "Mois"},
          {type: "y", title: "Année"}
        ],
        bigLineChartLabels: {
          s: ['LUNDI', 'MARDI', 'MERCREDI', 'JEUDI', 'VENDREDI', 'SAMEDI', 'DIMANCHE'],
          m: [],
          y: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
        },
        bigLineChart: {
          allData: [
            [100, 70, 90, 70, 85, 60, 75, 60, 90, 80, 110, 100],
            [80, 120, 105, 110, 95, 105, 90, 100, 80, 95, 70, 120],
            [60, 80, 65, 130, 80, 105, 90, 130, 70, 115, 60, 130]
          ],
          activeIndex: 0,
          chartData: {
            datasets: [{}]
          },
          extraOptions: chartConfigs.purpleChartOptions,
          gradientColors: ['rgba(76, 211, 150, 0.1)', 'rgba(53, 183, 125, 0)', 'rgba(119,52,169,0)'],
          gradientStops: [1, 0.4, 0],
          categories: []
        },
        blueBarChart: {
          extraOptions: chartConfigs.barChartOptions,
          chartData: {
            labels: ['USA', 'GER', 'AUS', 'UK', 'RO', 'BR'],
            datasets: [{
              label: "Countries",
              fill: true,
              borderWidth: 0,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [53, 20, 10, 80, 100, 45],
            }]
          },
          gradientColors: ['rgba(76, 211, 150, 0.1)', 'rgba(53, 183, 125, 0)', 'rgba(119,52,169,0)'],
          gradientStops: [1, 1, 1],
        },
        typeUsageChart: {
          extraOptions: chartConfigs.doughnutChartOptions,
          chartData: {
            labels: [],
            datasets: [{
              fill: true,
              borderWidth: 0,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [],
              backgroundColor: [randomColor()]
            }]
          },
          gradientColors: ['rgba(76, 211, 150, 0.1)', 'rgba(53, 183, 125, 0)', 'rgba(119,52,169,0)'],
          gradientStops: [1, 1, 1],
        },
      }
    },
    created() {

    },
    mounted() {
      this.getAllStatistics()
      this.getLastDossiers()
      this.initBigChart(0)
    },
    methods: {
      complete(index) {
        this.list[index] = !this.list[index]
      },

      initBigChart(index, type = 's') {
        let labels = this.bigLineChartLabels
        let chartData = {
          datasets: [{
            fill: true,
            borderColor: "#42b883",
            borderWidth: 2,
            borderDash: [],
            borderDashOffset: 0.0,
            pointBackgroundColor: "#42b883",
            pointBorderColor: 'rgba(255,255,255,0)',
            pointHoverBackgroundColor: "#42b883",
            pointBorderWidth: 20,
            pointHoverRadius: 4,
            pointHoverBorderWidth: 15,
            pointRadius: 4,
            data: this.bigLineChart.allData[index]
          }],
          labels: labels[type],
        }
        if(this.$refs.bigChart) this.$refs.bigChart.updateGradients(chartData);
        this.bigLineChart.chartData = chartData;
        this.bigLineChart.activeIndex = index;
      },

      getAllStatistics() {
        //console.log(this.$store.state.auth.user)
        AssitanceStatisticService.getAssistanceStatistics().then(
          res => {
            //console.log(res);
            this.statistics = res.data.payload
            // console.log(this.statistics.constats_totale[0].nombre_constats);
            this.fillDatas(this.statistics.constats_per_month, this.constatsMonthChart, 30)
            this.fillDatas(this.statistics.constats_per_week, this.dailyConstatsChart, 30)
            this.fillDatas(this.statistics.validate_constats_per_day, this.dataValidateConstatsChart, 30)
            this.fillDataBigChart(this.statistics.constats_per_week, 0)
            Object.keys(this.statistics.constats_per_day_of_month).forEach(elem => this.bigLineChartLabels.m.push(elem))
            this.fillDataBigChart(this.statistics.constats_per_day_of_month, 1)
            this.fillDataBigChart(this.statistics.constats_per_month, 2)
            this.fillAllDoungutChart()
            this.fillAllBarChart()
            this.loaded = true
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
            console.log(this.message)
          }
        );
      },

      getLastDossiers() {
        ConstatService.getLastAssistanceDossiers(10).then(
          res => {
            this.dossiers = res.data.payload
            //console.log(this.dossiers)
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
            console.log(this.message)
          }
        );
      },

      fillDatas(data, the_chart, high) {
        // console.log(data);
        let total_per_month = Object.values(data)
        let max_total = Math.max.apply(Math, total_per_month)
        the_chart.data.series.splice(0, 1, total_per_month)
        if (max_total <= high) the_chart.options.high = high + 5
      },

      fillDataBigChart(data, indice) {
        let values = Object.values(data)
        this.bigLineChart.allData.splice(indice, 1, values)
      },

      fillAllDoungutChart() {
        // Fill types usage data
        let bgColors = []
        let labels_usage = []
        let data_usage = []
        Object.keys(this.statistics.constats_per_type_usage).forEach(elem => labels_usage.push(elem))
        Object.values(this.statistics.constats_per_type_usage).forEach(elem => bgColors.push(randomColor()))
        Object.values(this.statistics.constats_per_type_usage).forEach(elem => data_usage.push(elem))
        let chartDataUsage = {
          datasets: [{
            data: data_usage,
            backgroundColor: bgColors
          }],
          labels: labels_usage
        }
        if(this.loaded) this.$refs.usagesChart.update()
        this.typeUsageChart.chartData = chartDataUsage
      },

      fillAllBarChart() {
        let labels = ['Marrakech', 'Agadir', 'Tetouan', 'Meknes', 'Wajda', 'Elhoceima']
        let labels_q = ['Bourgone', 'Bernoussi', 'Ain Sbaa', 'Rahmaa', 'Wlad Zyan', 'Rhoche Noir']
        let data = [52, 105, 43, 23, 84, 14]
        let data_q = [14, 196, 25, 87, 66, 33]
        // Fill cities data
        this.statistics.constats_per_city.forEach(elem => labels.push(elem.city))
        this.statistics.constats_per_city.forEach(elem => data.push(elem.total))
        let chartData = {
          datasets: [{
            data: data,
            backgroundColor: '#dbdbef'
          }],
          labels: labels
        }
        if(this.loaded) this.$refs.villesChart.updateGradients(chartData)
        this.cityBarChart.chartData = chartData

        // Fill districts data
        this.statistics.constats_per_district.forEach(elem => labels_q.push(elem.quartier))
        this.statistics.constats_per_district.forEach(elem => data_q.push(elem.total))
        let chartData1 = {
          datasets: [{
            data: data_q,
            backgroundColor: '#dbdbef'
          }],
          labels: labels_q
        }
        if(this.loaded) this.$refs.quertiersChart.updateGradients(chartData1)
        this.quartierBarChart.chartData = chartData1
      },

      getStatus(status) {
        let color_status = 'grey'
        switch (status) {
          case 'CREATED':
            color_status = 'grey'
            break
          case 'IN_PROGRESS':
            color_status = 'orange'
            break
          case 'FINISHED':
            color_status = 'success'
            break
          case 'CANCELED':
            color_status = 'red'
            break
          case 'PAUSE':
            color_status = 'secondary'
            break
          default:
            color_status = 'grey'
        }

        return color_status
      },
      getTotalStatus(status) {
        let st = this.statistics.constats_per_status.find(elem => elem.status === status)
        return st ? st.total.toString() : '0'
      },
      detailsDossier(row) {
        this.$router.push({path: `dossiers/${row.id_constat}`})
      }
    }
  }
</script>

<style scoped>

</style>
