<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <transition name="slide">
    <v-layout>
      <v-container
        id="list-dossiers"
        fluid
      >
        <h1>Gestion de dossiers</h1>

        <v-card
          class="px-5 py-3 rounded-xl"
        >
          <v-card-title class="pr-0 pl-0 pt-1">
            <v-icon color="primary">mdi-filter</v-icon>
            Filtrer par
          </v-card-title>
          <v-row
            align="center"
            justify="start"
          >
            <v-col
              cols="2"
            >
              <v-text-field
                ref="filter.code"
                v-model="filter.code"
                full-width
                hide-details
                filled dense
                label="N° du dossier"
                prepend-inner-icon="mdi-information-outline"
                class="rounded-xl bb-0"
              ></v-text-field>
            </v-col>
            <v-col
              cols="2"
            >
              <v-text-field
                ref="filter.num_immatriculation"
                v-model="filter.num_immatriculation"
                full-width
                hide-details
                filled dense
                label="N° d'immatriculation"
                prepend-inner-icon="mdi-information-outline"
                class="rounded-xl bb-0"
              ></v-text-field>
            </v-col>
            <v-col
              cols="2"
            >
              <v-dialog
                ref="dialog"
                v-model="modal"
                :return-value.sync="filter.date_etablissement"
                persistent
                width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="dateRangeText"
                    full-width
                    hide-details
                    filled dense
                    label="Période"
                    prepend-inner-icon="mdi-calendar-month"
                    class="rounded-xl bb-0"
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="filter.date_etablissement"
                  scrollable range
                >
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="modal = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.dialog.save(filter.date_etablissement)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-dialog>
            </v-col>
            <v-col
              cols="2"
            >
              <v-text-field
                ref="filter.ville"
                v-model="filter.ville"
                full-width
                hide-details
                filled dense
                label="Ville"
                prepend-inner-icon="mdi-city"
                class="rounded-xl bb-0"
              ></v-text-field>
            </v-col>
            <v-col
              cols="2"
            >
              <v-autocomplete
                v-model="selectedConstateur"
                :loading="loadingSearch"
                :items="itemsSearch"
                :search-input.sync="search"
                :filter="customFilter"
                item-text="nom"
                item-value="id_constateur"
                hide-no-data return-object
                append-icon=""
                full-width hide-details
                filled dense
                cache-items single-line
                label="Agent"
                prepend-inner-icon="mdi-account"
                class="rounded-xl bb-0"
              >
                <template v-slot:selection="{ attr, on, item, selected }">
                  <span class="d-block" color="black" v-text="item.nom + ' ' + item.prenom"></span>
                </template>
                <template v-slot:item="data">
                  <v-list-item-avatar class="mt-0 mb-0">
                    <img :src="getAvatar(data.item.avatar)" v-if="data.item.avatar">
                    <v-icon large dark color="primary" v-else>
                      mdi-account-circle
                    </v-icon>
                  </v-list-item-avatar>
                  <v-list-item-content v-text="data.item.nom + ' ' + data.item.prenom"></v-list-item-content>
                </template>
              </v-autocomplete>
            </v-col>
            <v-col
              cols="2"
            >
              <v-btn
                full-width filled
                dense width="100%" color="primary"
                @click="applyFilter()"
                prepend-inner-icon="mdi-account"
                class="rounded-xl bb-0 d-flex"
              >Filtrer
              </v-btn>
            </v-col>
          </v-row>
        </v-card>

        <h2 class="mt-7">Liste des dossiers</h2>

        <v-data-table
          :headers="headers"
          :items="dossiers"
          :items-per-page="5"
          :page.sync="page"
          hide-default-header
          hide-default-footer
          @page-count="pageCount = $event"
          class="dark-actions"
        >
          <template v-slot:item="{ item }">
            <tr @click.prevent="storeDossier(item)">
              <td>
                <div class="d-flex align-center justify-start">
                  <v-icon
                    dark
                    left
                    color="primary"
                  >
                    mdi-folder-open
                  </v-icon>
                  <span class="title-td d-inline-block">N° dossier<br><b>{{ item.code }}</b></span>
                </div>
              </td>
              <td>
                <div class="d-flex align-center justify-start">
                  <v-icon
                    dark
                    left
                    color="primary"
                  >
                    mdi-city
                  </v-icon>
                  <span class="title-td d-inline-block">Ville<br><b>{{ item.workflow ? item.workflow.ville : '--' }}</b></span>
                </div>
              </td>
              <td>
                <div class="d-flex align-center justify-start">
                  <v-icon
                    dark
                    left
                    color="primary"
                  >
                    mdi-map-marker
                  </v-icon>
                  <span
                    class="title-td d-inline-block">
                    Quartier<br>
                    <b v-if="item.workflow">{{ item.workflow.lieu ? item.workflow.lieu : '--' }}</b>
                    <b v-else>--</b>
                  </span>
                </div>
              </td>
              <td>
                <div class="d-flex align-center justify-start">
                  <v-icon
                    dark
                    left
                    color="primary"
                  >
                    mdi-clock-time-five-outline
                  </v-icon>
                  <span class="title-td d-inline-block">Heure de missionnement<br><b>{{ item.workflow ? item.workflow.heure_etablissement : '--' }}</b></span>
                </div>
              </td>
              <td>
                <div class="d-flex align-center justify-start">
                  <v-icon
                    dark
                    left
                    color="primary"
                  >
                    mdi-account
                  </v-icon>
                  <span class="title-td d-inline-block">Agent<br><b>{{ item.constateur.nom }} {{ item.constateur.prenom }}</b></span>
                </div>
              </td>
              <td>
                <div class="d-flex align-center justify-start">
                  <v-icon
                    dark
                    left
                    color="primary"
                  >
                    mdi-office-building
                  </v-icon>
                  <span class="title-td d-inline-block">
                    Compagnie assistance<br>
                    <b v-if="item.assures.length > 0">{{ item.assures[0].assurance.assistance.nom }}</b>
                    <b v-else>--</b>
                  </span>
                </div>
              </td>
              <td>
                <div class="d-flex align-center justify-start">
                  <v-icon
                    dark
                    left
                    color="primary"
                  >
                    mdi-paperclip
                  </v-icon>
                  <span class="title-td d-inline-block">
                    Pièces jointes<br>
                    <b class="mr-2" v-if="item.workflow">({{ item.workflow.photos ? JSON.parse(item.workflow.photos).length : 0 }})</b>
                    <b class="mr-2" v-else>(0)</b>
                    <template v-if="item.workflow">
                      <v-dialog
                        v-model="dialog"
                        width="85%"
                        :retain-focus="false"
                      >
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon
                              dark
                              left
                              color="primary"
                              v-bind="attrs"
                              v-on="on"
                              class="show"
                              @click="getPhoto(item.id_constat,JSON.parse(item.workflow.photos))"
                            >mdi-eye</v-icon>
                        </template>
                        <v-carousel hide-delimiters height="auto">
                          <v-carousel-item
                            v-for="(photo,i) in degats"
                            :key="i"
                            :src="photo"
                          ></v-carousel-item>
                        </v-carousel>
                      </v-dialog>

                      <v-icon
                        dark left
                        color="primary" class="download"
                        @click="downloadPhotos(item.id_constat,JSON.parse(item.workflow.photos))"
                      >mdi-download</v-icon>
                    </template>

                    <template v-else>
                      <v-icon
                        dark left
                        color="primary"
                        class="show"
                      >mdi-eye</v-icon>
                      <v-icon
                        dark left
                        color="primary" class="download"
                      >mdi-download</v-icon>
                    </template>
                  </span>
                </div>
              </td>

              <td class="actions">
                <nuxt-link
                  :to="{ name: 'details-dossier', params: { id: item.id_constat, constat: item } }"
                >
                  <v-icon
                    dark
                    color="white"
                  >
                    mdi-chevron-right
                  </v-icon>
                </nuxt-link>
              </td>
            </tr>
          </template>
        </v-data-table>
        <v-pagination
          v-model="page"
          :length="pageCount"
          :total-visible="5"
        ></v-pagination>
      </v-container>
    </v-layout>
  </transition>
</template>

<script>
  import ConstatService from '../../../services/constat.service'

  export default {
    middleware: ['auth', 'auth-prestataire'],
    layout: 'prestataire',
    transition: {
      slide: 'fade',
      mode: 'out-in'
    },
    name: "List",
    data: function () {
      return {
        loading: true,
        page: 1,
        pageCount: 0,
        search: '',
        dialog: false,
        dossiers: [],
        degats: [],
        selectedConstateur: [],
        headers: [
          {
            sortable: true,
            text: 'ID',
            value: 'id_constat',
          },
          {
            sortable: false,
            text: 'Ville',
            value: 'ville',
          },
          {
            sortable: false,
            text: 'Quartier',
            value: 'lieu',
          },
          {
            sortable: true,
            text: 'Heure de missionnement',
            value: 'heure_etablissement',
          },
          {
            sortable: true,
            text: 'Agent',
            value: 'constateur',
          },
          {
            sortable: true,
            text: 'Compagnie assistance',
            value: 'assistance',
          },
          {
            sortable: false,
            text: 'Pièces jointes',
            value: 'photos',
          },
          {text: 'Actions', value: 'actions', sortable: false}
        ],
        filter: {
          code: '',
          num_immatriculation: '',
          date_etablissement: [],
          ville: '',
          constateur: ''
        },
        modal: false,
        appliedFilter: null,
        loadingSearch: false,
        itemsSearch: [],
        select: null,
        constateur: '',

      }
    },
    computed: {
      dateRangeText() {
        return this.filter.date_etablissement.join(' ~ ')
      }
    },
    watch: {
      dialog(val) {
        val || this.close()
      },
      search(val) {
        val && val !== this.select && this.querySelections(val)
      }
    },
    created() {
      this.getAllDossiers()
    },
    methods: {
      getAvatar(avatar) {
        return process.env.APP_STORAGE + '/cdn/constateurs/avatars/' + avatar;
      },
      customFilter(item, queryText, itemText) {
        const textOne = item.nom.toLowerCase()
        const textTwo = item.prenom.toLowerCase()
        const searchText = queryText.toLowerCase()

        return textOne.indexOf(searchText) > -1 ||
          textTwo.indexOf(searchText) > -1
      },
      querySelections(v) {
        this.loadingSearch = true
        // Simulated ajax query
        setTimeout(() => {
          let filterAgents = this.dossiers.filter(e => {
            if ((e.constateur.nom).toLowerCase().indexOf((v || '').toLowerCase()) > -1) return e.constateur
            else return null
          })
          //console.log(filterAgents)
          filterAgents.forEach(elem => this.itemsSearch.push(elem.constateur))
          this.loadingSearch = false
        }, 500)
      },
      applyFilter() {
        this.appliedFilter = {...this.filter}
        if (this.selectedConstateur) this.appliedFilter.constateur = this.selectedConstateur.id_constateur
        ConstatService.search(this.appliedFilter).then(
          res => {
            this.dossiers = res.data.payload
            this.loading = true
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
            console.log(this.message)
          }
        );
      },
      getAllDossiers() {
        //console.log(this.$store.state.auth.user)
        ConstatService.getDossiers().then(
          res => {
            this.dossiers = res.data.payload
            this.loading = true
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
            console.log(this.message)
          }
        );
      },

      getPhoto: function (id, phots) {
        let listPhotos = []
        phots.forEach(elem => listPhotos.push(process.env.APP_STORAGE + '/cdn/constateurs/degats/' + id + '/' + elem))
        this.degats = listPhotos
      },

      downloadPhotos(id, phots) {
        phots.forEach((elem) => {
          this.$axios({
            url: 'pre/dossier/download/' + id,
            method: 'POST',
            responseType: 'blob',
            data: {
              elem: elem
            },
          }).then((response) => {
            var fileURL = window.URL.createObjectURL(new Blob([response.data]));
            var fileLink = document.createElement('a');

            fileLink.href = fileURL;
            fileLink.setAttribute('download', elem);
            document.body.appendChild(fileLink);

            fileLink.click();
          });
        })

      },
      save() {
        if (this.editedIndex > -1) {
          let id_user = this.users[this.editedIndex].id
          this.$axios.post(`bo/user/update/${id_user}`, this.editedItem).then(
            res => {
              Object.assign(this.users[this.editedIndex], this.editedItem)
              this.close()
            },
            error => {
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
        } else {
          this.$axios.post('bo/user/create', this.editedItem).then(
            res => {
              this.users.push(res.data.payload)
              this.close()
            },
            error => {
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
        }
      },

      storeDossier(constat) {
        this.$store.dispatch('dossier/setDossierInfos', constat)
      },

      close: function () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      }
    }
  }
</script>

<style scoped>
  .flex-none {
    flex: none;
  }
</style>
