@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

html {
  font-family: "Poppins", "Open Sans", "Rubik", sans-serif;
}

.theme--light.v-application {
  font-family: "Poppins", "Open Sans", "Rubik", sans-serif;
}
#__layout .theme--light.v-application {
  background: #f0f0f7;
  font-size: 15px;
}
.v-application .v-main {
  padding-top: 0 !important;
}
.container.container--fluid {
  padding: 0;
}
#inspire .v-toolbar__title {
  font-size: 1rem;
  line-height: 1.25;
}
#inspire .v-btn {
  text-transform: unset;
}
.chart-wrapper {
  width: 100%;
}
#inspire .echarts {
  width: 100%;
}

#inspire.v-application--is-ltr .v-navigation-drawer:not(.v-navigation-drawer--mini-variant) .v-list-item__action:first-child,
#inspire.v-application--is-ltr .v-navigation-drawer:not(.v-navigation-drawer--mini-variant) .v-list-item__icon:first-child {
  margin: 5px 12px 5px 0;
}
#inspire .v-navigation-drawer--mini-variant .v-list-item > *:first-child {
  margin: 0;
}
#inspire .v-list-item {
  min-height: 24px;
  padding: 10px;
  margin: 0;
}
#inspire .v-list-item--link:before {
  right: 0;
  left: unset;
  width: 4px;
}
#inspire .theme--light.v-navigation-drawer .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  opacity: 1;
  color: #ffffff !important;
}
#inspire .theme--light.v-list-item:hover,
#inspire .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled):hover {
  color: #2B2B2B !important;
}
#inspire .theme--light.v-list-item::before {
  opacity: 0;
}

#inspire .v-navigation-drawer__content .theme--light.v-list-item--active::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 52px;
  right: 0px;
  height: 50px;
  width: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -25px 0 #f0f0f7;
  opacity: 1;
}

#inspire .v-navigation-drawer__content .theme--light.v-list-item--active::after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: -50px;
  right: 0px;
  height: 50px;
  width: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 25px 0 #f0f0f7;
  opacity: 1;
}
#inspire .v-navigation-drawer--mini-variant .theme--light.v-list-item--active::after,
#inspire .v-navigation-drawer--mini-variant .theme--light.v-list-item--active::before {
  display: none;
}
#inspire .theme--light.v-list-item.v-list-item--active:not(.v-list-item--disabled) {
  color: #2B2B2B !important;
}
#inspire .v-navigation-drawer__content .theme--light.v-list-item.v-list-item--active:not(.v-list-item--disabled) {
  background: #f0f0f7;
}
#inspire .v-navigation-drawer:not(.v-navigation-drawer--mini-variant) .v-navigation-drawer__content .theme--light.v-list-item.v-list-item--active:not(.v-list-item--disabled) {
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}
#inspire .v-list-item__content {
  padding: 0;
  font-weight: 600;
}
#inspire .v-list-item .v-list-item__title {
  align-self: center;
  font-size: 15px;
  letter-spacing: 1px;
  white-space: normal;
  font-weight: 500;
}
#inspire .v-navigation-drawer .v-icon.v-icon {
  font-size: 22px;
  color: #ffffff;
}
#inspire .theme--light.v-list-item.v-list-item--active .v-icon.v-icon {
  color: #2B2B2B;
}
.v-navigation-drawer:not(.v-navigation-drawer--mini-variant) .v-navigation-drawer__content {
  padding-left: 20px;
}
#inspire .theme--light.v-navigation-drawer {
  background: #AA2232;
}
.theme--light.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
  width: 0;
}

#inspire .v-list-item.b-drawer {
  padding: 0 10px;
}
.b-item-avatar .v-avatar {
  margin-top: 0;
  margin-bottom: 0;
}

/***************** Data tables ****************/
.v-data-table:not(.dash-table) td {
  position: relative;
}
#inspire .theme--light.v-data-table:not(.dash-table) {
  background-color: transparent;
}
#inspire .theme--light.v-toolbar.top-toolbar .v-toolbar__content {
  padding: 0 5px;
}
.v-data-table__wrapper {
  padding: 0 5px;
  position: relative;
  z-index: 1;
}
.v-data-table:not(.dash-table) > .v-data-table__wrapper > table {
  display: table;
  border-spacing: 0 20px !important;
}
.v-data-table:not(.dash-table) > .v-data-table__wrapper > table > tbody > tr {
  border-radius: 24px;
  background: transparent;
  overflow: hidden;
  display: table-row;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 5px 7px 0px rgba(0, 0, 0, 0.14), 0px 12px 10px 0px rgba(0, 0, 0, 0.12);

}
#inspire .theme--light.v-data-table:not(.dash-table) > .v-data-table__wrapper > table > thead > tr > th {
  border-bottom: none;
  height: auto;
  padding: 0 5px 0 15px;
  font-size: 13px;
  font-weight: 500;
}
#inspire .theme--light.v-data-table:not(.dash-table) > .v-data-table__wrapper > table > thead > tr > th:first-child {
  padding-left: 12px;
}
.theme--light.v-data-table:not(.dash-table) > .v-data-table__wrapper > table > tbody > tr > td {
  border-bottom: none !important;
  padding: 15px 5px 15px 15px;
  background: #ffffff;
  position: relative;
}
.theme--light.v-data-table:not(.dash-table):not(.double-table) > .v-data-table__wrapper > table > tbody > tr > td:before {
  content: "";
  border-left: 1px solid #cccccc;
  position: absolute;
  left: 0;
  top: 0;
  height: 45px;
  bottom: 0;
  margin: auto;
}
.theme--light.v-data-table:not(.dash-table) > .v-data-table__wrapper > table > tbody > tr > td:first-child:before,
.theme--light.v-data-table:not(.dash-table) > .v-data-table__wrapper > table > tbody > tr > td.actions:before,
.theme--light.v-data-table:not(.dash-table) > .v-data-table__wrapper > table > tbody > tr > td.no-border:before {
  border-left: none;
}
.theme--light.v-data-table:not(.dash-table) > .v-data-table__wrapper > table > tbody > tr > td:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding-left: 25px;
}
.theme--light.v-data-table:not(.dash-table) > .v-data-table__wrapper > table > tbody > tr > td:last-child {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  padding-right: 0;
  width: 65px;
}
.theme--light.v-data-table:not(.dash-table).dark-actions > .v-data-table__wrapper > table > tbody > tr:not(.v-data-table__empty-wrapper) > td:last-child {
  background: #AA2232;
  width: 30px;
  padding-left: 5px;
}
.title-td {
  font-size: 11px;
  vertical-align: middle;
}
.title-td b {
  font-size: 11px;
  color: #000;
  font-weight: 600;
}
#inspire .theme--light.v-data-table:not(.dash-table) .v-data-footer {
  border: none;
  border: none;
  background: #fff;
  float: right;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2), 0px 3px 5px 0px rgba(0, 0, 0, 0.14), 0px 8px 10px 0px rgba(0, 0, 0, 0.12);
  margin-top: -17px;
  position: relative;
  z-index: 0;
  margin-right: 7px;
}
#inspire .theme--light.v-data-table:not(.dash-table) .v-data-table__empty-wrapper {
  color: #aa2232;
}
#inspire .v-pagination.v-pagination {
  float: right;
  border: none;
  background: #fff;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2), 0px 3px 5px 0px rgba(0, 0, 0, 0.14), 0px 8px 10px 0px rgba(0, 0, 0, 0.12);
  margin-top: -17px;
  position: relative;
  z-index: 0;
  margin-right: 7px;
  padding: 5px 10px;
  width: auto;
}
#inspire .theme--light.v-pagination .v-pagination__navigation {
  background: none;
  box-shadow: unset;
}
#inspire .v-pagination__navigation .v-icon {
  color: rgba(0, 0, 0, 0.87);
}
#inspire .theme--light.v-pagination .v-pagination__item,
#inspire .theme--light.v-pagination .v-pagination__item--active {
  background: none !important;
  box-shadow: unset;
  border: none !important;
}
#inspire .theme--light.v-pagination .v-pagination__item--active {
  color: #aa2232 !important;
}

.v-input__icon .v-icon.v-icon {
  color: #aa2232;
}
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border: 0 !important;
}
#inspire .theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: #e8ebfe;
}
/*.v-application .v-input.primary--text {
  caret-color: unset !important;
  color: transparent !important;
}*/

/********** Popover ************/
.edit-b {
  display: inline-flex;
  vertical-align: middle;
}
.v-application .ac-tooltip {
  border: 1px solid #AA2232 !important;
  opacity: 1 !important;
  background: #ffffff !important;
  pointer-events: initial;
  padding: 0 3px;
  overflow: unset;
  box-shadow: none;
  contain: inherit; }
  .v-application .ac-tooltip:after {
    color: #AA2232;
    font: normal normal normal 24px "Material Design Icons";
    content: "\F035F";
    position: absolute;
    top: 2px;
    right: -1px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: left; }
  .v-application .v-sheet.v-list.actions-tooltip {
    display: block;
    position: relative;
    padding: 0;
    border-radius: 4px; }
    #inspire .actions-tooltip .theme--light.v-list-item {
      padding: 0;
      border-bottom: 1px solid #AA2232; }
      #inspire .actions-tooltip .theme--light.v-list-item .v-btn {
        border-radius: 0;
        justify-content: left; }
      #inspire .actions-tooltip .theme--light.v-list-item:last-child {
        border-bottom: none; }

/************** Forms ***************/
#inspire .row-fields {
  margin: 0; }
  #inspire .row-fields .col-field,
  #inspire .row-fields .label-field {
    padding: 0; }

#inspire .row-fields .theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background-color: #fff;
  border: 1px solid #9F9F9F; }
  #inspire .theme--light.v-input input {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px; }
  #inspire .label-field .v-label.v-label {
    color: #000;
    font-weight: 600;
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    align-items: baseline;
    padding-top: 12px;
    font-size: 16px; }

.v-text-field.v-input--is-focused > .v-input__control > .v-input__slot:after {
  display: none;
}

#inspire .v-dialog .v-card .v-card__title {
  padding: 20px 35px;
  text-align: left;
  border-bottom: 1px solid #9F9F9F; }
#inspire .v-dialog .v-card .v-card__title .headline {
  color: #000;
  font-weight: 600;
}
.v-dialog .v-card .v-card__actions {
  justify-content: flex-end;
  padding: 0 30px 20px;
  margin-top: -30px; }
.v-application .theme--dark.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: rgba(170, 34, 50, 0.7) !important;
}


/*********** Details dossier ************/
.v-card__title.title-infos {
  font-weight: bold;
  position: relative; }
  .v-card__title.title-infos:before {
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    width: 30px;
    border-radius: 35px;
    height: 4px;
    background: rgba(170, 34, 50, 1);
    overflow: hidden; }
.v-card__title.title-infos.ts-infos {
  font-weight: 300;
  color: rgba(170, 34, 50, 1);
  font-size: 15px; }
  .v-card__title.title-infos.ts-infos:before {
    display: none; }
  .tag-title {
    background: rgba(170, 34, 50, 1);
    position: absolute;
    top: -14px;
    left: 20px;
    font-size: 12px;
    color: #fff;
    padding: 0 12px;
    border-radius: 4px; }
.bloc-infos {
  padding: 5px 0 5px 35px;
  display: block;
  border-left: 1px solid #cccccc; }
.bloc-infos.td {
  border-left: none;
  padding: 0 0 10px 0;
  max-width: 98%;
  border-bottom: 1px solid #cccccc; }
  .bloc-infos.td span {
    flex: 1; }
.no-border {
  border: none !important; }

/******************* Tabulation *************/
#inspire .v-tabs:not(.v-tabs--vertical) .v-tab {
  font-weight: 600;
  text-align: left;
  padding: 0;
  justify-content: start;
  align-items: center;
  color: #000;
}
#inspire .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) {
  color: rgba(0, 0, 0, 0.54);
}
.v-tabs-slider-wrapper {
  border-radius: 4px;
  overflow: hidden;
}
.bloc-pdf {
  border-radius: 7px;
  border: 2px solid rgba(170, 34, 50, 1);
  position: relative;
  overflow: hidden; }
  /*.v-application .bloc-pdf a {
    position: absolute;
    top: -1px;
    right: 8px;
    z-index: 1;
    text-decoration: none; }*/

.b-tabs-items {
  height: 340px;
}

/*************** BO Assistance ************/
.double-table {

}
.theme--light.v-data-table:not(.dash-table).double-table > .v-data-table__wrapper table tbody tr td table {
  border-collapse: collapse;
  width: 100%; }
  .theme--light.v-data-table:not(.dash-table).double-table > .v-data-table__wrapper > table > tbody > tr > td {
    padding: 0; }
  .theme--light.v-data-table:not(.dash-table).double-table > .v-data-table__wrapper > table > tbody > tr > td:first-child {
    padding-right: 10px; }
  .theme--light.v-data-table:not(.dash-table).double-table > .v-data-table__wrapper table tbody tr td table td {
    height: 75px;
    display: flex;
    align-items: center;
    padding: 5px; }
  .theme--light.v-data-table:not(.dash-table).double-table > .v-data-table__wrapper table tbody tr td table td:before {
    content: "";
    border-left: 1px solid #cccccc;
    position: absolute;
    left: 0;
    top: 0;
    height: 45px;
    bottom: 0;
    margin: auto; }
    .theme--light.v-data-table:not(.dash-table).double-table > .v-data-table__wrapper table tbody tr td:first-child table td:before {
      display: none; }
    .theme--light.v-data-table:not(.dash-table).double-table > .v-data-table__wrapper table tbody tr td table td.no-before:before {
      display: none; }
    .theme--light.v-data-table:not(.dash-table).double-table > .v-data-table__wrapper table tbody tr td table tr:first-child td:not(.double-rows) {
      border-bottom: 1px solid #cccccc; }
    .theme--light.v-data-table:not(.dash-table).double-table > .v-data-table__wrapper table tbody tr td table td.double-rows .title-td,
    .theme--light.v-data-table:not(.dash-table).double-table > .v-data-table__wrapper table tbody tr td table td.double-rows .v-icon.v-icon {
      flex: 1 100%; }
    .theme--light.v-data-table:not(.dash-table).double-table > .v-data-table__wrapper table tbody tr td table tr:first-child td.double-rows {
      padding-right: 15px;
      border-right: 1px solid #cccccc; }
    .theme--light.v-data-table:not(.dash-table) > .v-data-table__wrapper table tbody tr td table td .title-td,
    .theme--light.v-data-table:not(.dash-table) > .v-data-table__wrapper table tbody tr td .title-td {
      max-width: 220px; }



/****************** Loading content ****************/
[class*="box-"] {
  height: 6px;
  width: 400px;
  background: #f6f7f9;
  margin-bottom: 13px;
  margin-right: 5px;
}

.box-loading {
  background: #f0f0f7;
  height: auto;
  width: 100%;
  padding: 10px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.box-thumbnail {
  height: 40px;
  width: 40px;
  float: left;
  margin-right: 20px;
  display: inline-block;
}

.box-line-sm {
  width: 120px;
  margin-top: 10px;
  margin-left: 50px;
}
.box-line-xs {
  width: 80px;
  margin-left: 50px;
}
.box-line-df {
  margin-top: 30px;
  width: 380px;
}
.box-line-lg {
  width: 200px;
}
.box-line-lgx {
  width: 450px;
}

[class*="box-line"],
.box-thumbnail {
  animation: timeline;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px auto;
  background-position: 100px 0;
}

@keyframes timeline {
  0% {
    background-position: -350px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.actions-abs {
  position: absolute;
  top: 0;
  right: 25px;
}
